* {
	padding: 0;
	margin: 0;
	outline: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	
	font-weight: inherit;
	font-size: inherit;
	font-family: inherit;
	
	letter-spacing: 0;
	line-height: inherit;

	text-decoration: none;
	color: inherit;
}

:before, :after {
	pointer-events: none;
}

html {
	overflow-x: hidden;
	font-size: 17px;
}

@media all and (max-width: 1170px) {
	html {
		font-size: 16px;
	}
}
@media all and (max-width: 992px) {
	html {
		font-size: 15px;
	}
}
@media all and (max-width: 768px) {
	html {
		font-size: 14px;
	}
}
@media all and (max-width: 480px) {
	html {
		font-size: 13px;
	}
}


html, body {
	height: 100%;
}

body {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;

	text-rendering: optimizeLegibility;
	-webkit-text-decoration-skip: objects;
	        text-decoration-skip: objects;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;

	font-family: 'Open Sans', sans-serif;
	font-weight: normal;

	color: #333;

	line-height: 1.2;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.hidden {
	display: none;
}

img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

ul, ol, li {
	list-style-type: none;
}

.container {
	padding: 0 15px;
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

.link {
	text-decoration: underline;
	color: #09f;
}
.link:hover {
	text-decoration: none;
}
.small {
	font-size: 0.8rem;
}
.big {
	font-size: 1.2rem;
}
.semibold {
	font-weight: 600;
}
.bold {
	font-weight: 700;
}
p {
	padding: 7px 0;
}
abbr {
	border-bottom: 1px dashed;
}

.btn {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;

	color: #2AA5A2;
	border: 2px solid #2AA5A2;
	border-radius: 5px;
	padding: 5px;
	min-width: 250px;
	min-height: 40px;

	-webkit-transition: .1s;

	-o-transition: .1s;

	transition: .1s;
}
.btn:hover {
	background-color: #2AA5A2;
	color: #fff;
}
.bottom-offset {
	padding-bottom: 50px;
}

/**
* menu toggle begins
**/
.menu-toggle {
	display: none;
	cursor: pointer;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 31px;
	height: 20px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.show-menu .menu-toggle {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.menu-toggle__element {
	background-color: #222;
	width: 100%;
	height: 2px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.show-menu .menu-toggle__element {
	background-color: #F47F75;
}

.show-menu .menu-toggle__element:nth-of-type(1) {
	-webkit-transform: translateY(100%);
	    -ms-transform: translateY(100%);
	        transform: translateY(100%);
}

.show-menu .menu-toggle__element:nth-of-type(3) {
	-webkit-transform-origin: center center;
	    -ms-transform-origin: center center;
	        transform-origin: center center;
	-webkit-transform: translateY(-100%) rotate(90deg);
	    -ms-transform: translateY(-100%) rotate(90deg);
	        transform: translateY(-100%) rotate(90deg);
}

.show-menu .menu-toggle__element:nth-of-type(2) {
	opacity: 0;
}

/** ^^^^^^^^^^^^^^
* menu toggle ends
**/


.content {
	position: relative;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	min-height: 150px;
}
.content-loaded .content {
	min-height: auto;
}


/**
** .menu
**/



.menu {
	text-align: center;
}
.menu__inner {
	border: 1px solid #bbb;
	border-top: none;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 10px;
	padding-bottom: 0;
	display: inline-block;
}
.menu__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.menu__item {
	margin: 0 10px 10px;
}
.menu__link {
	position: relative;
	z-index: 1;
	display: block;
	padding: 5px 0;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;

	border-radius: 5px;
	-webkit-transition: .15s;
	-o-transition: .15s;
	transition: .15s;

	font-weight: 300;
}
.menu__link:after {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
	height: 2px;
	width: 0%;
	background-color: #330909;
	background-color: #2AA5A2;
	margin: auto;
	margin-bottom: -3px;
	-webkit-transition: .15s;
	-o-transition: .15s;
	transition: .15s;
}
.menu__link.active:after,
.menu__item.active .menu__link:after,
.menu__link:hover:after {
	/*height: 100%;*/
	width: 75%;
}

.section-heading {
	text-align: center;
	font-weight: 600;
	padding: 30px 0 40px;
	font-size: 2rem;
}


/**
** .about
**/

.about {
}
.about__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.about__info {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	margin-top: -7px;
	padding-left: 35px;
	line-height: 1.5;
	font-weight: 300;
}
.about__media {
	width: 100%;
	max-width: 280px;
}
.about__media-img {
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,.5);
	        box-shadow: 0px 0px 20px rgba(0,0,0,.5);
}


/**
** .advantages
**/

.advantages {
	padding-top: 50px;
	/*border: 1px solid red;*/
}
.advantages__inner {
	max-width: 992px;
}
.advantages__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0 -10px;
}
.advantages__item {
	margin: 0 10px 40px;
	/*width: 100%;*/
}
.advantages__icon {
	background: center center no-repeat;
	background-size: contain;
	
	display: block;
	height: 50px;
}
.advantages__text {
	text-align: center;
	padding-top: 20px;

	font-size: 1.18rem;
	line-height: 1.3;
}
.advantages__text-selected {
	color: #fff;
	background-color: #330099;
	background-color: #2AA5A2;
	display: inline-block;
	padding: 2px 8px;
	border-radius: 5px;
	font-weight: 400;
}


/**
** .clients
**/

.clients {
	background-color: #111;
	background-color: #222;
	color: #fff;
	padding: 0 20px 10px;
}
.clients__container {
	padding-top: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	text-align: center;
}
.clients__item {
	width: 100%;
	max-width: 250px;
	margin: 0 20px 40px;

	position: relative;
	z-index: 1;
}
.clients__info {
	background-color: #fff;
	-webkit-filter: drop-shadow(0px 0px 20px rgba(100,100,100, 0.8));
	        filter: drop-shadow(0px 0px 20px rgba(100,100,100, 0.8));
	color: #333;
	border-radius: 5px;

	padding: 10px 15px;
	text-align: left;
	width: 320px;

	position: absolute;
	bottom: 100%;
	left: -320px;
	right: -320px;
	margin: auto;
	margin-bottom: 20px;

	line-height: 1.35;

	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateY(-20px);
	    -ms-transform: translateY(-20px);
	        transform: translateY(-20px);
	-webkit-transition: .15s;
	-o-transition: .15s;
	transition: .15s;
}
.clients__info:hover,
.clients__img:hover ~ .clients__info {
	-webkit-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	        transform: translateY(0px);
	opacity: 1;
	visibility: visible;
}
.clients__info:after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin: auto;
	width: 0;
	border: 10px solid transparent;
	border-bottom-width: 0;
	border-top: 10px solid #fff;
}
.clients__info-title {
	font-size: 1.2rem;
	font-weight: 600;
}
.clients__info-desc {
	padding: 10px 0;
}
.clients__info-link {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	max-width: 100%;
}

.clients__img {
	max-height: 110px;
}



/**
** .list
**/

.list {
	padding-bottom: 50px;
}
.list__caption {
	font-size: 1.3rem;
	padding-bottom: 20px;
	font-weight: 600;
}
.list__item {
	margin-bottom: 10px;
	position: relative;

	padding-left: 30px;
}
.list__item:after {
	content: "—";
	position: absolute;
	top: 0;
	left: 0;
}


/**
** .portfoios
**/

.portfoios {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.portfoios__list-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding-bottom: 30px;
	margin: 0 -15px;
}
.portfoios__list-item {
	width: 100%;
	max-width: 340px;
	height: 300px;
	margin: 0 15px 30px;

	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.2);

	        box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
	overflow: hidden;
	border: 1px solid #D9D9D9;
	border-radius: 5px;
}
.portfoios__list-item-inner {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.portfoios__list-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 23px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0 10px;

	background-color: #F4F4F4;
}
.dots__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.dots__item {
	width: 13px;
	height: 13px;
	border-radius: 50%;
	margin-right: 5px;
}
.dots__item:last-child {
	margin-right: 0;
}
.dots__item--red {
	background-color: #ED1D25;
}
.dots__item--yellow {
	background-color: #FFC601;
}
.dots__item--green {
	background-color: #3AB54B;
}
.portfoios__list-top-info {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	padding: 0 20px;
	
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	overflow: hidden;

	text-align: center;
	font-size: 14px;
	font-weight: 300;
	max-width: 90%;
}
.portfoios__list-view {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	background: center top no-repeat;
	background-size: cover;

	position: relative;
	z-index: 1;
}
.portfoios__list-view-info {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(235,235,235,.9);

	opacity: 0;
	visibility: hidden;
	-webkit-transition: .15s;
	-o-transition: .15s;
	transition: .15s;
}
.portfoios__list-view:hover .portfoios__list-view-info {
	visibility: visible;
	opacity: 1;
}
.portfoios__list-view-info-actions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 100%;
}
.portfoios__list-view-info-actions-item {
	margin-bottom: 10px;
}
.portfoios__list-view-info-actions-item:last-child {
	margin-bottom: 0;
}

.portfoios__list-action {
	text-align: center;
	padding: 0 0 50px;
}
.no-portfolios .portfoios__list-action {
	display: none;
}


/**
** .contacts
**/

.contacts {
	padding-bottom: 30px;
}
.contacts__text {
	font-weight: 300;
	line-height: 1.5;
}
.contacts__box {
	padding-top: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.contacts__box-item {
	width: 100%;
	background-color: #272727;
	color: #eee;
	border-radius: 10px;
	padding: 20px;
}
.contacts__box-caption {
	font-weight: 600;
	text-align: center;
}
.contacts__box-list {
	padding-top: 15px;
}
.contacts__box-list-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-bottom: 10px;
}
.contacts__box-list-item:last-child {
	margin-bottom: 0;
}

.contacts__item-circle {
	position: relative;
	z-index: 9;
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	    align-self: center;
	border-radius: 50%;
	width: 60px;
	min-width: 60px;
	height: 60px;
	min-height: 60px;
	background-color: #272727;
	border: 15px solid #fff;
	margin: 0 -15px;
}

.contacts__box-list-icon {
	width: 20px;
	margin-right: 10px;
}
.contacts__box-list-link {
	position: relative;
	z-index: 1;
}
.contacts__box-list-link:after {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
	height: 1px;
	width: 0%;
	background-color: #330909;
	background-color: #2AA5A2;
	margin: auto;
	margin-bottom: -4px;
	-webkit-transition: .15s;
	-o-transition: .15s;
	transition: .15s;
}
.contacts__box-list-link:hover:after {
	width: 100%;
}



/**
** .footer
**/

.footer {
	margin-top: auto;
	padding: 10px 0;
	background-color: #111;
	text-align: center;
	color: #ccc;
	font-size: 14px;
}


/*warface preloader*/

.wf-preloader {
	position: absolute;
	z-index: 9;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.wf-preloader,
.wf-preloader__inner {
	display: block;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	border: 3px solid #2AA5A2;
}
.wf-preloader {
	border-color: #f6f6f6;
	border-top: 3px solid #111;
	border-bottom: 3px solid #111;
	width: 100px;
	height: 100px;
	padding: 10px;

	-webkit-animation: rotation 6s linear infinite;
			animation: rotation 6s linear infinite;
}
.wf-preloader__inner {
	-webkit-animation: rotation 3s linear infinite reverse;
			animation: rotation 3s linear infinite reverse;
	height: 100%;

	border-left: 3px solid #111;
	border-right: 3px solid #111;
}
.content-loaded .wf-preloader,
.content-loaded .wf-preloader > .wf-preloader__inner {
	-webkit-animation: stop_rotation 1s forwards;
			animation: stop_rotation 1s forwards;
}

@-webkit-keyframes rotation {
	0% {
		-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
	}
}

@keyframes rotation {
	0% {
		-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
	}
}
@-webkit-keyframes stop_rotation {
	0% {
		border: 7px solid #fff;
		padding: 0;
	}
	100% {
		-webkit-transform: scale(0);
				transform: scale(0);
		opacity: 0;
		visibility: hidden;
	}
}
@keyframes stop_rotation {
	0% {
		border: 7px solid #fff;
		padding: 0;
	}
	100% {
		-webkit-transform: scale(0);
				transform: scale(0);
		opacity: 0;
		visibility: hidden;
	}
}

/*^^^^^^^^^^^^^^^^^
warface preloader*/

@media all and (max-width: 992px) {
	.about__inner {
		display: block;
	}
	.about__info,
	.about__media {
		width: auto;
	}
	.about__info {
		padding: 0;
		padding-top: 50px;
	}
	.about__media {
		text-align: center;
		max-width: 100%;
	}
	.advantages__container {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.advantages__item {
		max-width: 220px;
	}
	.contacts__box {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.contacts__box-item {
		padding: 25px 10px;
	}
	.contacts__item-circle {
		margin: -15px 0;
	}
}
@media all and (max-width: 768px) {
	.menu-toggle {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-left: auto;
	}
	.menu__inner {
		display: block;
		padding: 15px;
		position: relative;
	}
	.menu__container {
		position: absolute;
		z-index: 999;
		top: 100%;
		left: 0;
		right: 0;
		
		margin-top: 30px;
		padding: 10px 0;
		
		-webkit-box-orient: vertical;
		
		-webkit-box-direction: normal;
		
		    -ms-flex-direction: column;
		
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		
		background-color: #fff;
		border: 1px solid #BBBBBB;

		border-radius: inherit;

		opacity: 0;
		visibility: hidden;
		-webkit-transition: .2s;
		-o-transition: .2s;
		transition: .2s;
	}
	.show-menu .menu__container {
		margin-top: 10px;
		opacity: 1;
		visibility: visible;
	}
	.menu__item:last-child {
		margin-bottom: 0;
	}

	.advantages__container {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.advantages__item {
		width: 100%;
	}

	.list__item {
		padding-left: 20px;
	}
}
@media all and (max-width: 480px) {
	.mobile-text-center {
		text-align: center;
	}
}