html, body {
	height: 100%;
}
body {
	font-size: 17.45px;
	font-family: "Open Sans";
}
* {
	padding: 0;
	margin: 0;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
textarea {
	resize: none;
}
li,ul,ol {
	list-style: none;
}
*[class].text-left {
	text-align: left;
}
*[class].text-center {
	text-align: center;
}
*[class].text-right {
	text-align: right;
}

button {
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	cursor: pointer;
}
.default-width {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	max-width: 1290px;
	margin: 0 auto;
}
	@media only screen and (max-width : 1290px) {
		.default-width {
			max-width: 100%;
			width: 100%;
		}
	}

.btn-default {
	display: inline-block;
	font-size: 15.27px;
	padding: 12px 16px;
	border: 2px solid #FCE502;
	line-height: 1;
	text-transform: uppercase;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;

	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.btn-default:hover {
	text-decoration: none;

}

.section-header {
	font: 49.09px "Cuprum";
	text-transform: uppercase;
	display: table;
	margin: auto;
	text-align: center;
}
.section-header.specify-border {
	color: #494949;
	padding: 18px;
	border: 2px solid #266445;
	border-bottom: none;
	border-left: none;
	box-shadow: inset -1px 1px 0px #D1DDD7;
	position: relative;
}
.section-header.specify-border:after {
	position: absolute;
	content: "";
	width: 2px;
	height: 1px;
	border-top: 1px solid #266445;
	border-right: 1px solid #D1DDD7;
	background-color: #D1DDD7;
	left: 0;
	top: 0px;
}
.section-header.specify-border:before {
	position: absolute;
	content: "";
	width: 184px;
	height: 1px;
	background-color: #DBCC35;
	border: 1px solid #F4EEBF;
	border-left: none;
	border-right: none;
	left: 0;
	bottom: 0;
}

/* =+=+=+=+=+=+=+=+=+=+=+=+ [.section-header.specify-border] =+=+=+=+=+=+=+=+=+=+=+=+ */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.section-header {
		font-size: 40px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.section-header {
		font-size: 35px;
	}
	.section-header.specify-border {
		padding: 12px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.section-header {
		font-size: 30px;
	}
	.section-header.specify-border {
		text-align: center;
		padding: 0;
		border: none;
		box-shadow: none;
	}
	.section-header.specify-border:after,
	.section-header.specify-border:before {
		display: none;
	}
}
@media only screen and (max-width : 400px) {
	.section-header {
		font-size: 27px;
	}
}
@media only screen and (max-width : 320px) {
	.section-header {
		font-size: 25px;
	}

}


/* *********** header ************* */

.header {
	min-height: 100%;
	background: url(../img/header--bg.png) no-repeat center bottom / cover;
	color: #fafcfb;
}
.header__wrapper {
	box-sizing: border-box;
	padding: 0 15px;
	height: 100vh;
	min-height: 500px;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.header__element{
}
.header__top-info {
	margin-top: 0;
	margin-bottom: auto;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	align-items: center;
}
.header__top-info__element {
}
.header__logobox {
}
.header__logo-link {
}
.header__logo-img {
	max-width: 100%;
}
.header__phone-number {
	margin-left: auto;
	margin-right: 25px;
	padding-left: 20px;
	min-height: 21px;


	background: url(../img/icons/header--phone-icon.png) left center no-repeat;
}
.header__order-call {
	
}
.header__order-call:hover {
	background-color: #fff;
	border-color: #FCE502;
	color: #2c2c2c;

}
.header__website-intro-header {
	width: 100%;
	text-align: center;
	font: normal 49.09px "Cuprum";
	text-transform: uppercase;
	background: url(../img/main-header--separator.png) no-repeat bottom center / 660px 8px;
	padding-bottom: 11px;
}
.header__website-intro-desc {
	margin: 20px auto;
	font-size: 27.27px;
	text-align: center;
}
.header__free-consult-btn {
	margin: 0 auto;
	/*border: none;*/
	padding: 22px 15px;
	font-weight: 600;
	background-color: #FCE502;
	color: #2c2c2c;
}
.header__free-consult-btn:hover {
	background-color: #fff;
	border-color: #FCE502;
	color: #2c2c2c;
}
.header__scroll-to-down {
	margin: auto;
	transition: .8s;
}
.header__scroll-to-down:hover {
	transform: translateY(20px);
}
.header__scroll-to-down__img {

}




/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.header__logo-img {
		height: 55px;
	}
	.header__website-intro-header {
		font-size: 40px;
		background-size: auto 5px;
		padding-bottom: 11px;
	}
	.header__website-intro-desc {
		font-size: 20.27px;
	}
	.header__free-consult-btn {
		padding: 18px 13px;
		font-size: 14px;
	}
	.header__top-info {	
		justify-content: space-between;
		align-items: center;
	}
	.header__top-info__element {
		margin: initial;
	}
	.header__logobox {
		padding-top: 10px;
	}
	.header__phone-number {
		margin: initial;
		padding-left: 20px;
		min-height: 21px;
	}
}
@media only screen and (max-width : 520px) {
	.header__logo-img {
		height: 55px;
	}
	.header__website-intro-header {
		font-size: 35px;
		background-size: auto 5px;
		padding-bottom: 11px;
	}
	.header__website-intro-desc {
		font-size: 18px;
	}
	.header__top-info {	
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		
		padding-bottom: 10px;
		box-shadow: 0px 15px 20px -13px rgba(17,89,61, .8);
	}
	.header__logobox {
		padding-top: 10px;
	}
	.header__phone-number {
		margin: initial;
		padding-left: 20px;
		min-height: 21px;
	}
	.header__top-info__element {
		margin: initial;
		margin-bottom: 10px;
	}

	.btn-default {
		padding: 8px 7px;
		font-size: 14px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.header__website-intro-header {
		font-size: 30px;
	}
	.header__website-intro-desc {
		font-size: 17px;
	}
}






/* ************** [.special-line-after-header-section] **************** */

.special-line-after-header-section {
	position: relative;
	background-color: #D5C311;
	height: 45px;
	overflow: hidden;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.special-line-after-header-section:after {
	position: absolute;
	content: "";
	border-top: 27px solid transparent;
	border-left: 100vw solid #FFFEFE;
	border-bottom: 1px solid #FFFEFE;
	border-right: none;
	bottom: 0;
	left: 0;
}



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.special-line-after-header-section {
		height: 40px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.special-line-after-header-section {
		height: 35px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.special-line-after-header-section:after {
		border-top-width: 17px;
		border-bottom: 14px solid #FFFEFE;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}


/* ************** [.uniques] **************** */


.uniques {

}
.uniques__wrapper {
	padding-bottom: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	flex-wrap: wrap;
	justify-content: center;
}
.uniques__element-box {
	text-align: center;
	padding: 15px 0;
	border: 2px solid #266445;
	color: #2e2f2f;
	width: 366px;

	font-size: 24px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 20px 35px;
	min-height: 160px;
}
.uniques__image-box {
	font-size: 0;
}
.uniques__image {

}
.uniques__item-desc {
	padding-top: 18px;
}






/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.uniques__element-box {
		width: 100%;
		font-size: 22px;
		margin: 15px 15px;
		min-height: initial;
	}
	.uniques__item-desc br {
		display: none;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.uniques__element-box {
		width: 100%;
		font-size: 20px;
		margin: 15px 15px;
		min-height: initial;
	}
	.uniques__wrapper {
		padding-bottom: 0;
	}
}



/* ************** [.special-line-after-uniques-section] **************** */

.special-line-after-uniques-section {
	position: relative;
	background-color: #266445;
	height: 80px;
	overflow: hidden;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.special-line-after-uniques-section:after {
	position: absolute;
	content: "";
	border-top: 70px solid transparent;
	border-right: 100vw solid #FFFEFE;
	border-left: none;
	border-bottom: 1px solid #FFFEFE;
	bottom: 0;
	left: 0;
}




/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.special-line-after-uniques-section {
		height: 70px;
	}
	.special-line-after-uniques-section:after {
		border-top-width: 60px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.special-line-after-uniques-section {
		height: 60px;
	}
	.special-line-after-uniques-section:after {
		border-top-width: 50px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.special-line-after-uniques-section {
		height: 50px;
	}
	.special-line-after-uniques-section:after {
		border-top-width: 40px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.special-line-after-uniques-section {
		height: 40px;
	}
	.special-line-after-uniques-section:after {
		border-top-width: 30px;
	}
}


/* ************** [.our-presentation] **************** */

.our-presentation {
}
.our-presentation__wrapper {
	padding: 20px 15px 73px;

}
.our-presentation__header {

}
.our-presentation__header_green {
	color: #18754b;
}
.our-presentation__desc {
	padding-top: 3px;
	text-align: center;
	color: #1f8560;
	font-size: 27.27px;
}
.our-presentation__video-box {
	width: 940px;
	margin: 0 auto;
	background: url(../img/player-mage.png) no-repeat center center / 100% 100%;

	padding: 76px 53px 71px 45px;
}
.our-presentation__video-iframe {
	width: 100%;
	height: 100%;
	background-color: #252525;
}





/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 1070px) {
	.our-presentation__video-box {
		width: 740px;
		padding: 76px 42px 71px 36px;
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.our-presentation__desc {
		font-size: 26px;
	}
}
@media only screen and (max-width : 850px) {
	.our-presentation__video-box {
		width: 640px;
		padding: 70px 36px 65px 31px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.our-presentation__desc {
		font-size: 25px;
	}
}
@media only screen and (max-width : 740px) {
	.our-presentation__video-box {
		width: 560px;
		padding: 62px 32px 58px 27px;
	}
}
@media only screen and (max-width : 670px) {
	.our-presentation__desc {
		padding-bottom: 20px;
	}
	.our-presentation__video-box {
		width: 100%;
		padding: 0;

		background: unset;

		-webkit-box-shadow: 0px 0px 20px 5px rgba(0,20,0, .8);
		box-shadow: 0px 0px 20px 5px rgba(0,20,0, .8);
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.our-presentation__desc {
		font-size: 19px;
	}
}



/* ************** [.special-line-after-our-presentation-section] **************** */


.special-line-after-our-presentation-section {
	width: 100%;
	height: 85px;
	overflow: hidden;
	position: relative;
	box-shadow: 0px -5px 5px 0px rgba(0,0,0,.1)
}
.special-line-after-our-presentation-section__yellow-box {
	background-color: #D5C311;
	height: 45px;
	position: relative;
}
.special-line-after-our-presentation-section__green-box {
	background-color: #23663F;
	position: absolute;
	top: 0;
	left: 0;
	width: 101%;
	height: 75px;
	z-index: 2;
	-webkit-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
	-webkit-transform-origin: right;
	-moz-transform-origin: right;
	-ms-transform-origin: right;
	-o-transform-origin: right;
	transform-origin: right;
	box-shadow: 0px 3px 8px 4px rgba(0,0,0,.3)
}




/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.special-line-after-our-presentation-section__green-box {
		height: 70px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.special-line-after-our-presentation-section__green-box {
		height: 60px;
	}
	.special-line-after-our-presentation-section__yellow-box {
		height: 40px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.special-line-after-our-presentation-section__green-box {
		height: 50px;
		-webkit-transform: rotate(4deg);
		-ms-transform: rotate(4deg);
		-o-transform: rotate(4deg);
		transform: rotate(4deg);
	}
	.special-line-after-our-presentation-section__yellow-box {
		height: 35px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.special-line-after-our-presentation-section__green-box {
		height: 40px;
	}
	.special-line-after-our-presentation-section__yellow-box {
		height: 35px;
	}
}
@media only screen and (max-width : 350px) {
	.special-line-after-our-presentation-section__green-box {
		height: 35px;
	}
}




/* ************** [.variants] **************** */

.variants {
}
.variants__wrapper {
	padding: 30px 15px;
}
.variants__header {

}
.variants__desc {
	padding-top: 3px;
	text-align: center;
	color: #1f8560;
	font-size: 27.27px;
}
.variants__variant-items {
	width: 100%;
	padding-top: 25px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: center;
	flex-wrap: wrap;
}
.variants__variant-item {
	margin: 0 55px;
	text-align: center;
}
.variants__variant-image {
	max-width: 100%;
	border: 5px solid #226840;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;

	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.variants__variant-image:hover {
	/*border-color: #D5C311;*/
	border-color: transparent;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,.4);
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,.4);
}
.variants__variant-desc {
	color: #2c926a;
	font-size: 19.64px;
	line-height: 1;
	padding: 14px 0 19px;
}
.variants__variant-btn {
	background-color: #D5C311;
	border: none;
	font-size: 26.18px;
	font-family: "Open Sans";
	text-transform: none;
	padding: 14px 36px;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
.variants__variant-btn:hover {
	-webkit-box-shadow: -5px 5px 10px 0px rgba(0,0,0,.4);
	box-shadow: -5px 5px 10px 0px rgba(0,0,0,.4);
	text-decoration: none;
}





/* Large Devices, Wide Screens */
@media only screen and (max-width : 1290px) {
	.variants__variant-item {
		margin: 0 30px;
	}
}
@media only screen and (max-width : 1200px) {
	.variants__variant-item {
		margin: 0 20px;
	}
}
@media only screen and (max-width : 1142px) {
	.variants__variant-item {
		margin-bottom: 30px;
	}	
	.variants__variant-item:last-child {
		margin-bottom: 0;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.variants__variant-btn {
		font-size: 25px;
		padding: 13px 31px;
	}
	.variants__desc {
		font-size: 26px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.variants__variant-btn {
		font-size: 22px;
		padding: 10px 28px;
	}
	.variants__variant-item {
		margin-bottom: 20px;
	}
	.variants__variant-image {
		border-width: 4px;
	}
	.variants__desc {
		font-size: 25px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.variants__variant-btn {
		font-size: 19px;
		padding: 7px 25px;
	}

	.variants__variant-item {
		margin-bottom: 15px;
	}
	.variants__variant-image {
		border-width: 3px;
		padding: 1px;
	}
	.variants__desc {
		font-size: 19px;
	}
}




/* ************** [.why-we] **************** */

.why-we {

}
.why-we__wrapper {
	padding: 10px 15px 135px ;
}
.why-we__header {
	
}
.why-we__elements-box {
	padding-top: 75px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: center;
	flex-wrap: wrap;
}
.why-we__element-item {
	text-align: center;
	width: 200px;
	margin: 0 auto 20px;
	/*border: 1px solid red;*/
}
.why-we__element-image-box {
	height: 100px;
	width: 100px;
	margin: 0 auto;
	border: 2px solid #D5C311;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	align-items: center;
	justify-content: center;
}
.why-we__element-image {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}
.why-we__element-item__header {
	color: #226740;
	font: 32.73px "Impact";
	line-height: 1;
	padding: 25px 0 31px;
}
.why-we__element-item__desc {
	color: #444443;
	font: 17.45px "Cuprum";
	text-transform: uppercase;
}





/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.why-we__wrapper {
		padding-bottom: 130px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.why-we__elements-box {
		padding-top: 65px;
	}
	.why-we__wrapper {
		padding-bottom: 120px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.why-we__elements-box {
		padding-top: 55px;
	}
	.why-we__wrapper {
		padding-bottom: 80px;
	}
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.why-we__elements-box {
		padding-top: 45px;
	}
	.why-we__wrapper {
		padding-bottom: 50px;
	}
	.why-we__element-item {
		padding-bottom: 30px;
		border-bottom: 1px solid rgba(0,0,0,.04);
	}
	.why-we__element-item:last-child {
		border: none;
		padding-bottom: 0;
	}
}




/* ************** [.special-line-before-free-answer-section] **************** */

.special-line-before-free-answer-section  {
	position: relative;
	top: 37px;
	height: 67px;
	overflow: hidden;
}
.special-line-before-free-answer-section__wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
}
.special-line-before-free-answer-section__white {
	position: absolute;
	bottom: 3px;
	left: 0;

	border-bottom: 34px solid transparent;
	border-left: 100vw solid #fff;
	border-top: 0px solid #fff;
	border-right: none;
}
.special-line-before-free-answer-section__yellow {
}
.special-line-before-free-answer-section__yellow::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	
	border-bottom: 20px solid transparent;
	border-left: 50vw solid #D5C311;
	border-top: 0px solid #D5C311;
	border-right: none;
	
}
.special-line-before-free-answer-section__yellow::before {
	content: "";
	position: absolute;
	bottom: 19px;
	left: 0;
	
	border-bottom: 0px solid #D5C311;
	border-left: 50vw solid #D5C311;
	border-top: 30px solid transparent;
	border-right: none;
	
}







/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}









/* ************** [.free-answer] **************** */


.free-answer {

}
.free-answer__wrapper {
	padding: 135px 15px 165px;
	background: #eee url(../img/entry-bg.jpg) no-repeat top center / cover;
}
.free-answer__header {
	color: #faf9f9;
}
.free-answer__desc {
	font: 19.64px "Cuprum";
	color: #faf9f9;
	text-transform: uppercase;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 65px;
}
.free-answer__desc__yellow {
	color: #f9f465;
}
.free-answer__form-container {
	width: 550px;
	height: 300px;
	position: relative;
	margin: 0 auto;
}
.free-answer__form-elements {
	position: relative;
	z-index: 3;
	text-align: center;
	padding-top: 60px;
}
.free-answer__form-back-boxes,
.free-answer__form-back-box-first,
.free-answer__form-back-box-second {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.free-answer__form-back-boxes {
	z-index: 1;
}
.free-answer__form-back-box-first {
	background-color: #D5C311;
	box-shadow: 0px 3px 6px 4px rgba(0,0,0,.3);
	z-index: -1;
	-webkit-transform: skew(-10deg, -2deg);
	-ms-transform: skew(-10deg, -2deg);
	-o-transform: skew(-10deg, -2deg);
	transform: skew(-10deg, -2deg);
}
.free-answer__form-back-box-second {
	background-color: #D5C311;
	box-shadow: 0px 3px 6px 4px rgba(0,0,0,.3);
	z-index: -2;
	-webkit-transform: skew(-25deg, 5deg) ;
	-ms-transform: skew(-25deg, 5deg) ;
	-o-transform: skew(-25deg, 5deg) ;
	transform: skew(-25deg, 5deg) ;
}
.free-answer__form-text-fields {
}
.free-answer__form-text-element {
	width: 380px;
	outline: 0;
	color: #504e4e;
	font-size: 19.64px;
	padding: 15px 20px 13px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #E1D885;
	margin-bottom: 12px;

	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
.free-answer__form-text-element:hover {
	border-color: #999;
}
.free-answer__form-text-element:focus {
	border-color: #666;
}
.free-answer__form-btn {
	margin-top: 21px;
	outline: 0;
	padding: 14px 33px;
	border: 2px solid #F7F8EB;
	color: #F7F8EB;
	background-color: #266445;
	font-size: 19.64px;
}
.free-answer__form-btn:hover {
	border-color: #266445;
	color: #266445;
	background-color: #F7F8EB;

	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	-o-border-radius: 1px;
	border-radius: 1px;
}





/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.free-answer__form-container {
		width: 470px;
		height: 260px;
	}
	.free-answer__form-text-element {
		width: 350px;
		padding: 10px 15px 8px;
		margin-bottom: 10px;
	}
	.free-answer__form-btn {
		margin-top: 10px;
		padding: 10px 25px;
	}
}
@media only screen and (max-width : 620px) {
	.free-answer__form-container {
		width: 400px;
		height: 230px;
	}
	.free-answer__form-elements {
		padding-top: 45px;
	}
	.free-answer__form-text-element {
		font-size: 18px;
		width: 320px;
		padding: 10px 15px 8px;
		margin-bottom: 10px;
	}
	.free-answer__form-btn {
		font-size: 18px;
		margin-top: 10px;
		padding: 10px 20px;
	}
}
@media only screen and (max-width : 525px) {
	.free-answer__form-back-boxes * {
		display: none;
	}
	.free-answer__form-back-boxes {
		background-color: #D5C311;

		/*-webkit-border-radius: 15px / 100px;
		-moz-border-radius: 15px / 100px;
		-ms-border-radius: 15px / 100px;
		-o-border-radius: 15px / 100px;
		border-radius: 15px / 100px;*/
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.free-answer__form-text-element {
		width: 100%;
	}
	.free-answer__form-container {
		width: 100%;
		height: initial;
		padding: 35px 15px 15px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.free-answer__form-elements {
		padding: 0;
	}
}






/* ************** [.special-line-after-free-answer-section] **************** */

.special-line-after-free-answer-section {
	position: relative;
	overflow: hidden;
	height: 30px;
	margin-top: -30px;
}
.special-line-after-free-answer-section::after {
	position: absolute;
	content: "";
	border-top: 30px solid transparent;
	border-right: 100vw solid #FFFEFE;
	border-left: none;
	border-bottom: 1px solid #FFFEFE;
	bottom: 0;
	left: 0;
}






/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}




/* ************** [.faq] **************** */


.faq {

}
.faq__wrapper {
	padding: 160px 15px 25px;
}
.faq__header {

}
.faq__questions-box {

}
.faq__questions-wrapper {
	font-family: "Cuprum";
	padding-top: 72px;
	color: #4d4d4c;
	text-align: center;
}
.faq__question-item {

}
.faq__question-header {
	font-size: 27.27px;
	text-transform: uppercase;
}
.faq__question-desc {
	padding-top: 15px;
	font-size: 19.64px;
}
.faq__question-images-box {
	width: 100%;
	padding-top: 80px;
	padding-bottom: 120px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: center;
	align-items: flex-end;

	flex-wrap: wrap;
}
.faq__question-text-area {
	padding: 20px 40px ;
}
.faq__question-image-item {
	margin: 0 75px;
	margin-bottom: 30px;
}
.faq__question-image {

}
.faq__question-image-desc {
	font-size: 26.18px;
	padding-top: 5px;
}

.faq__slick-container {
	outline: 0;
}
.faq__slick-element {}





/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.faq__question-images-box {
		padding-top: 60px;
		padding-bottom: 100px;
	}
	.faq__wrapper {
		padding-top: 140px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.faq__question-images-box {
		padding-top: 50px;
		padding-bottom: 80px;
	}
	.faq__wrapper {
		padding-top: 120px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.faq__question-image-item {
		margin: 0;
		margin-bottom: 30px;
	}
	.faq__question-images-box {
		padding-top: 40px;
		padding-bottom: 50px;
		flex-direction: column;
		align-items: center;
	}
	.faq__wrapper {
		padding-top: 80px;
	}
}



/* ************** [.special-line-after-faq-section] **************** */


.special-line-after-faq-section {
	position: relative;
	height: 65px;
	overflow: hidden;
}
.special-line-after-faq-section__yellow {
	position: absolute;
	border-top: 25px solid transparent;
	border-right: 100vw solid #D5C311;
	border-left: none;
	border-bottom: 7px solid #D5C311;
	top: 0;
	right: 0;
}

.special-line-after-faq-section__green {
	position: absolute;
	top: 32px;
	left: 0;

    border-top: 0px solid #266445;
    border-right: none;
    border-left: 60vw solid #266445;
    border-bottom:  32px solid transparent;
}







/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.special-line-after-faq-section__yellow {
		border-top: 20px solid transparent;
		border-bottom: 5px solid #D5C311;
	}

	.special-line-after-faq-section__green {
		top: 25px;

	    border-bottom:  25px solid transparent;
	}

	.special-line-after-faq-section {
		height: 50px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.special-line-after-faq-section__yellow {
		border-top: 17px solid transparent;
		border-bottom: 4px solid #D5C311;
	}

	.special-line-after-faq-section__green {
		top: 21px;

	    border-bottom:  19px solid transparent;
	}
	.special-line-after-faq-section {
		height: 40px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.special-line-after-faq-section__yellow {
		border-top: 15px solid transparent;
		border-bottom: 3px solid #D5C311;
	}

	.special-line-after-faq-section__green {
		top: 18px;

	    border-bottom:  15px solid transparent;
	}
	.special-line-after-faq-section {
		height: 33px;
	}
}



/* ************** [.testimonials] **************** */


.testimonials {
	text-align: center;
}
.testimonials__wrapper {
	padding: 0 15px;
}
.testimonials__header {

}
.testimonials__desc {
	padding-top: 10px;

	color: #3bb085;
	font-size: 27.27px;
	text-align: center;
	
	width: 640px;
	margin: 0 auto;
}
.testimonials__slider-box {

}

.testimonials__video-box {
}
.testimonials__video-iframe {
}




/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.testimonials__desc {
		font-size: 25px;
		width: 100%;
	}
	.testimonials__wrapper {
		padding-top: 20px;
	}
}
@media only screen and (max-width : 670px) {
	.slick-arrow.slick-prev,
	.slick-arrow.slick-next {
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;
		width: 35px;
		height: 90px;
		top: calc(50% - (90px / 2));
	}
	.slick-arrow.slick-prev {
		left: -15px;
	}
	.slick-arrow.slick-next {
		right: -15px;
	}
	.testimonials__desc {
		padding-bottom: 20px;
	}
	.testimonials__slider-item {
		padding: 20px;
	}
	.testimonials__video-box {
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.testimonials__desc {
		font-size: 20px;
		width: 100%;
	}
}




/* ************** [.contacts] **************** */


.contacts {
}
.contacts__wrapper {
	background-color: #266445;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.contacts__map {
	position: relative;
	z-index: 10;
	padding-top: 60px;
	width: 100%;
}
.contacts__map-iframe {
	height: 100%;
}
 #map {
	min-height: 580px;
	width: 100%;
	height: 100%;
}


.contacts__info-box {
	min-width: 385px;
	padding: 85px 15px 34px 30px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	font-variant-caps: small-caps;
	color: #fffcfb;
	text-align: center;
}
.contacts__info-header {
	padding-bottom: 40px;
	font-weight: normal;
	font-size: 26.18px;
	text-transform: uppercase;
}
.contacts__contacts-box {
	text-align: left;
	font-size: 17.45px;
}
.contacts__contact-item {
	margin-bottom: 15px;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.contacts__contact-text-element {
	/*margin-left: auto;*/
}
.contacts__contact-header {
	min-width: 82px;
}
.contacts__contact-phone {
	background: url(../img/icons/contacts-phone.png) left center  no-repeat;
	padding-left: 25px;
}
.contacts__contact-address {

}
.contacts__form-container {

}
.contacts__form-header {
	padding-top: 50px;
	font-size: 26.18px;
	font-weight: normal;
}
.contacts__form-desc {
	font-size: 26.18px;
	padding-bottom: 30px;
}
.contacts__form-desc__yellow-uppercase {
	color: #d5c311;
	text-transform: uppercase;
}
.contacts__form-input-items {

}
.contacts__form-input-element {
	display: block;
	font-size: 17.45px;
	color: #403f3f;
	padding: 19px 17px;
	border: none;
	margin: 0 auto;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.contacts__form-input-element:first-child {
	margin-bottom: 15px;
}
.contacts__form-input-name {

}
.contacts__form-input-phone {

}
.contacts__form-btn {
	font-size: 17.45px;
	text-transform: uppercase;
	color: #303030;
	margin-top: 36px;
	padding: 16px 19px;
	background-color: #D5C311;
	border: none;
	outline: 1px solid rgba(213, 195, 17, .5);

	box-shadow: 0px 2px 3.96px 1px rgba(0, 0, 0, 0.42);
}
.contacts__form-btn:hover {
	opacity: .7;
}







/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.contacts__wrapper {
		flex-direction: column;
		align-items: center;
	}
	.contacts__info-box {
		width: 100%;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding-top: 50px;
	}
	.contacts__info-header {
		padding-bottom: 30px;
	}
	.contacts__form-header {
		padding-top: 30px;
	}
	.contacts__contact-item {
		justify-content: center;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.contacts__form-input-element {
		padding: 14px 12px;
		font-size: 16px;
	}
	.contacts__info-box {
		min-width: 100%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.contacts__form-input-element {
		width: 100%;
		font-size: 15px;
	}
}


/* ************** [.special-line-before-contacts-section] **************** */



.special-line-before-contacts-section {
	position: relative;
	overflow: hidden;
	top: 65px;
	margin-top: -65px;
	height: 65px;
}
.special-line-before-contacts-section::after {
	position: absolute;
	content: "";
	border-top: 0px solid #FFFEFE;
	border-right: 100vw solid #FFFEFE;
	border-left: none;
	border-bottom: 65px solid transparent;
	bottom: 0;
	left: 0;
}




/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.special-line-before-contacts-section {
		margin-top: -50px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.special-line-before-contacts-section {
		top: 60px;
		margin-top: -40px;
		height: 60px;
	}
	.special-line-before-contacts-section::after {
		border-bottom: 60px solid transparent;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.special-line-before-contacts-section {
		top: 40px;
		margin-top: 0px;
		height: 40px;
	}
	.special-line-before-contacts-section::after {
		border-bottom: 40px solid transparent;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.special-line-before-contacts-section {
		top: 30px;
		height: 30px;
	}
	.special-line-before-contacts-section::after {
		border-bottom: 30px solid transparent;
	}
}


/* ************** [.special-line-after-contacts-section] **************** */



.special-line-after-contacts-section {
	position: relative;
	overflow: hidden;
	height: 70px;
}
.special-line-after-contacts-section::after {
	position: absolute;
	content: "";
	border-top: 0px solid #D5C311 ;
	border-right: 100vw solid #D5C311;
	border-left: none;
	border-bottom: 70px solid transparent;
	bottom: 0;
	left: 0;
}





/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.special-line-after-contacts-section {
		height: 60px;
	}
	.special-line-after-contacts-section::after {
		border-bottom: 60px solid transparent;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.special-line-after-contacts-section {
		height: 50px;
	}
	.special-line-after-contacts-section::after {
		border-bottom: 50px solid transparent;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.special-line-after-contacts-section {
		height: 30px;
	}
	.special-line-after-contacts-section::after {
		border-bottom: 30px solid transparent;
	}
}



/* ************** [.footer-rules] **************** */

.footer-rules {

}
.footer-rules__wrapper {
	max-width: 1275px;
	padding: 0 15px;
}
.footer-rules__rules {
	color: #101010;
	font-size: 16px;
	font-weight: 300;
	padding: 40px 0 75px;
}





/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.footer-rules__rules {
		padding: 35px 0 60px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.footer-rules__rules {
		padding: 30px 0 50px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.footer-rules__rules {
		padding: 25px 0 40px;
		font-size: 15px;
	}
}



/* ************** [.footer] **************** */


.footer {
	background: linear-gradient(to bottom, #235239, #245B44);

}
.footer__wrapper {
	padding: 0 15px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer__logo {

}
.footer__logo-link {

}
.footer__logo-img {

}
.footer__btn-to-up {
	background: #FFFFFF url(../img/icons/footer-btn-bg.png) no-repeat center 8px;
	padding: 24px 32px 10px;
	font-size: 15.27px;
	font-style: italic;
	color: #353433;
	text-transform: uppercase;

	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
}
.footer__btn-to-up:hover {
	opacity: .8;
	text-decoration: none;
}
.footer__contacts {
	padding-top: 25px;
	padding-bottom: 50px;
	text-align: right;
	color: #fafcfb;
	font-size: 16px;
}
.footer__contact-phone-wrapper {
	padding-bottom: 15px;
}
.footer__contact-address-wrapper {

}
.footer__contact-header {
	color: #d5c311;
	text-transform: uppercase;
}
.footer__phone {
	padding-left: 23px;
	min-height: 24px;
	line-height: 27px;
	display: inline-block;

	background: url(../img/icons/footer-phone-bg.png) left top no-repeat;
}
.footer__address {

}




/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.footer__logo {
	}
	.footer__wrapper {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.footer__logo-img {
		max-width: 100px;
		height: auto;
	}
	.footer__contacts {
		width: 100%;
		padding-top: 25px;
		padding-bottom: 20px;
		text-align: center;
		color: #fafcfb;
		font-size: 16px;
	}
	.footer__btn-to-up {
		background-position: center 6px;

		-webkit-background-size: 50px auto;
		background-size: 50px auto;

		padding: 15px 20px 5px;
		font-size: 14px;

		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-ms-border-radius: 10px;
		-o-border-radius: 10px;
		border-radius: 10px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.footer__wrapper {
		flex-direction: column;
	}
	.footer__btn-to-up {
		-webkit-order: 2;
		-moz-order: 2;
		-ms-order: 2;
		-o-order: 2;
		order: 2;
	}
	.footer__contacts {
	}
}



/* ************** [.thanks] **************** */


.thanks {
	font-family: "SFUIDisplay";
	font-weight: 300;
}
.thanks * {
	transition: .3s;
}
.thanks__wrapper {
	text-align: center;
	padding: 20px 15px 30px;
}
.thanks__back-home {
	text-align: left;
	padding-bottom: 65px;
	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	align-items: center;
}
.thanks__back-home-link {
	margin-left: 13px;
	color: #393939;
	font-size: 18px;
}
.thanks__back-home-icon {
	font-size: 33px;
}
.thanks__success-icon {
	width: 100px;
	height: 100px;
	border: 2px dashed #00FF00;
	line-height: 100px;
	color: #41AD49;
	font-size: 80px;

	border-radius: 50%;
}
.thanks__header {
	font-weight: 600;
	padding-top: 27px;
	color: #63b969;
	font-size: 36px;
	text-transform: uppercase;
}
.thanks__desc {
	font-size: 18px;
	color: #818383;
}
.thanks__smile {
	color: #FDEE47;
	width: 85px;
	height: 85px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 40px;

	background: url(../img/icons/happy.png) center center  no-repeat / 100% 100%;
}
.thanks__soclinks-header {
	color: #63b969;
	font-size: 30px;
}
.thanks__soclinks-box {
	padding-top: 25px;
}
.thanks__soclinks-element {
	font-size: 52px;
	color: #333333;
	display: inline-block;
	margin: 0 8px;

	-webkit-transition: .1s;
	-o-transition: .1s;
	transition: .1s;
}
.thanks__soclinks-insta {

}
.thanks__soclinks-fb {

}
.thanks__soclinks-youtube {

}
.thanks__soclinks-element:hover {
	text-decoration: none;

	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
}




/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.thanks__header {
		font-size: 34px;
	}
	.thanks__soclinks-header {
		font-size: 28px;
	}
	.thanks__smile {
		width: 75px;
		height: 75px;
		margin-top: 25px;
		margin-bottom: 35px;
	}
	.thanks__success-icon {
		width: 80px;
		height: 80px;
		line-height: 80px;
		font-size: 60px;
	}
	.thanks__back-home {
		padding-bottom: 55px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.thanks__desc {
		font-size: 16px;
	}
	.thanks__header {
		font-size: 30px;
	}
	.thanks__soclinks-header {
		font-size: 24px;
	}
	.thanks__smile {
		width: 65px;
		height: 65px;
		margin-top: 20px;
		margin-bottom: 25px;
	}
	.thanks__success-icon {
		width: 65px;
		height: 65px;
		line-height: 65px;
		font-size: 40px;
	}
	.thanks__back-home {
		padding-bottom: 45px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.thanks__header {
		font-size: 25px;
	}
	.thanks__soclinks-box {
		padding-top: 5px;
	}
	.thanks__soclinks-header {
		font-size: 19px;
	}
	.thanks__smile {
		width: 50px;
		height: 50px;
		margin-top: 20px;
		margin-bottom: 25px;
	}
	.thanks__success-icon {
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 35px;
	}
	.thanks__back-home-link {
		margin-left: 8px;
		font-size: 16px;
	}
	.thanks__back-home-icon {
		font-size: 26px;
	}
	.thanks__back-home {
		padding-bottom: 35px;
	}
}






/* *************** .modal-container **************** */

.modal-bg {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.modal-bg {
	background-color: rgba(255,255,255, .5);
}

.modal-box {
	position: relative;
	z-index: 1;
}

/* ******** .modal-entry ********* */




.modal-container {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;

}
.modal-container__wrapper {
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: center;
	align-items: center;

}
.modal__bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.7);
	z-index: 0;
}

.modal-close {
}

.modal-container__modal-item {
	display: none;
	z-index: 1;
}





.modal-entry__wrapper {

	font-family: "SFUIDisplay";
	position: relative;
	padding: 20px 95px 90px 115px;

	background-image: url(../img/modal-entry-bg.png);
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;

	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
}

.modal-close {
	cursor: pointer;
}
.modal-close-btn {
	width: 56px;
	height: 56px;
	position: absolute;
	right: -54px;
	top: -35px;

	background: url(../img/icons/modal-close.png) center center no-repeat / 100% 100%;
}
.modal-close-fa-icon {
	display: none;
	color: #933;
	font-size: 30px;
}


.modal-entry__header {
	font-family: "SFUIDisplay";
	font-weight: 600;
}
.modal-entry__desc {
	font-family: "SFUIDisplay";
	font-weight: 300;

	text-transform: none;
}
.modal-entry__desc__yellow {
}
.modal-entry__form-container {
}
.modal-entry__form-elements {

}
.modal-entry__form-back-boxes,
.modal-entry__form-back-box-first,
.modal-entry__form-back-box-second {
}


.modal-entry__form-back-box-first {
	background-color: #FBCF00;
	-webkit-transform: skew(-17deg, 1deg);
	-ms-transform: skew(-17deg, 1deg);
	-o-transform: skew(-17deg, 1deg);
	transform: skew(-17deg, 1deg);
}
.modal-entry__form-back-box-second {
	background-color: #FBCF00;
	-webkit-transform: skew(-8deg, -8deg);
	-ms-transform: skew(-8deg, -8deg);
	-o-transform: skew(-8deg, -8deg);
	transform: skew(-8deg, -8deg);
}
.modal-entry__form-back-boxes {
}
.modal-entry__form-text-fields {
}
.modal-entry__form-text-element {
	width: 330px;
	font-size: 16px;

	font-family: "SFUIDisplay";
	font-weight: 300;
}
.modal-entry__form-text-element:hover {
}
.modal-entry__form-text-element:focus {
}
.modal-entry__form-btn {
	font-size: 18px;
	background-color: #399B6C;

	font-family: "SFUIDisplay";
	font-weight: normal;
}
.modal-entry__form-btn:hover {
	border-color: #399B6C;
}




/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.modal-entry__wrapper {
		padding: 15px 75px 70px 90px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.modal-entry__wrapper {
		padding: 15px 40px 60px;
	}
	.modal-close-btn {
		width: 35px;
		height: 35px;
		position: absolute;
		right: -24px;
		top: -29px;

	}
}
@media only screen and (max-width : 880px) {

	.modal-close-btn {
		width: auto;
		height: auto;
		position: absolute;
		right: 10px;
		top: 10px;
		background: unset;
		color: #eee;
	}
	.modal-close-fa-icon {
		color: inherit;
		display: inline-block;
	}
	.modal-close-btn:hover {
		color: #f33;
	}
	.modal-entry__desc {
		padding-bottom: 25px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.modal-entry__container {
		padding: 15px;
	}
	.modal-entry__desc {
		padding: 10px 0;
	}
	.modal-entry__wrapper {
		padding: 15px 15px 60px;
	}

	.modal-entry__form-back-boxes * {
		display: none;
	}
	.modal-entry__form-back-boxes {
		background-color: #FBCF00;

		-webkit-border-radius: 15px / 100px;
		-moz-border-radius: 15px / 100px;
		-ms-border-radius: 15px / 100px;
		-o-border-radius: 15px / 100px;
		border-radius: 15px / 100px;
	}
	.modal-entry__form-elements {
		padding: 15px;
	}
	.modal-entry__form-container {
		height: auto;
		padding: 0;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.modal-entry__form-text-element {
		width: 100%;
	}
	.modal-entry__wrapper {
		padding: 15px;
	}
	
	.modal-entry__container {
		padding: 0;
	}
	
}
@media only screen and (max-width : 370px) {
	.modal-entry__container {
		align-items: flex-start;
		padding-top: 10px;
	}
	.modal-close-btn {
		width: auto;
		height: auto;
		position: absolute;
		right: 5px;
		top: -10px;
		background: unset;
		color: #eee;
	}
}





/* adaptive video */
.videoWrapper {
	position: relative;
	padding-top: 25px;
	height: 0;
}
.videoWrapper.r16x9 {
	padding-bottom: 56.25%; /* 16:9 */
}
.videoWrapper.r4x3 {
	padding-bottom: 75%; /* 4:3 */
}
.videoWrapper.r3x2 {
	padding-bottom: 66.66%; /* 3:2 */
}
.videoWrapper.r8x5 {
	padding-bottom: 62.5%; /* 8:5 */
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* ^^^^^^^^^^^^^^^^^ */