* {
	padding: 0;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-style: inherit;
	font-weight: inherit;
	font-size: inherit;
	letter-spacing: 0;
	line-height: inherit;
	text-decoration: none;
	color: inherit;
	border: none;
	list-style-type: none;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

*:focus {
	outline: 0;
}

body {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	-webkit-text-decoration-skip: objects;
	text-decoration-skip: objects;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
}

button {
	background-color: transparent;
}

a {
	text-decoration: none;
}

button,
a {
	cursor: pointer;
}

input,
button,
textarea,
select {
	font: inherit;
}

/* remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
			animation-duration: 0.01ms !important;
			animation-iteration-count: 1 !important;
			transition-duration: 0.01ms !important;
			scroll-behavior: auto !important;
	}
}

/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/


body {
	background-color: #FAFAFA;
	color: #000;
	min-width: 320px;
}

.container {
	max-width: 1140px;
	padding-left: 60px;
}


/**
* menu toggle begins
**/
.menu-toggle {
	display: flex;
	
	cursor: pointer;
	flex-direction: column;
	justify-content: space-between;
	width: 26px;
	height: 18px;
	transition: .3s;	
}
.sidebar--open .menu-toggle {
	justify-content: center;
	transform: rotate(45deg);
}
.menu-toggle__element {
	background-color: #262626;
	width: 100%;
	height: 2px;
	transition: .3s;
}

.sidebar--open .menu-toggle__element:nth-of-type(1) {
	transform: translateY(100%);
}
.sidebar--open .menu-toggle__element:nth-of-type(3) {
	transform-origin: center center;
	transform: translateY(-100%) rotate(90deg);
}
.sidebar--open .menu-toggle__element:nth-of-type(2) {
	opacity: 0;
}

/** ^^^^^^^^^^^^^^
* menu toggle ends
**/

.sidebar {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	bottom: 0;
	width: 240px;
	transition: width .2s;

	padding-top: 41px;
	background-color: #F3F4F9;
	color: #333;
}
.sidebar__toggle {
	position: absolute;
	left: 100%;
	top: 0;
	width: 48px;
	height: 106px;
	
	display: flex;
	align-items: center;
	padding-left: 5px;

	background: url(img/icons/menu-btn-bg.svg);
}
.sidebar__logo {
	display: flex;
	align-items: center;
	margin-left: 41px;
}
.sidebar__logo-icon {
	width: 50px;
	height: 50px;

	border-radius: 50%;
	
	background: center center;
	background-size: cover;
}
.sidebar__logo-text {
	margin-left: 10px;

	font-family: Poppins;
	font-weight: 500;
	font-size: 16px;
}
.sidebar__menu {
	margin-top: 62px;
}
.sidebar__menu-link {
	display: flex;
	align-items: center;

	padding-left: 39px;

	border-left: 3px solid transparent;
	margin-bottom: 45px;
	transition: color .2s, border-left-color .2s;
}
.sidebar__menu-link:last-child {
	margin-bottom: 0;
}
.sidebar__menu-icon {
	transition: filter .2s;
}
.sidebar__menu-link:hover {
	color: #34ABE0;
}
.sidebar__menu-link.current {
	color: #34ABE0;
	border-left-color: #34ABE0;
}
.sidebar__menu-link.current .sidebar__menu-icon {
	filter: invert(56%) sepia(21%) saturate(1459%) hue-rotate(153deg) brightness(101%) contrast(89%);
}
.sidebar__menu-text {
	margin-left: 10px;

	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 16px;
}


.main {
	margin-left: 240px;
}

.header {
	background-color: #fff;
	padding-top: 40px;
}
.header__title {
	font: 600 28px "Open Sans", sans-serif;
}
.header__search-wrapper {
	padding-top: 30px;
	background-color: inherit;
	border-bottom: 1px solid #E5E5E5;
}
.header__search-wrapper--fixed {
	position: fixed;
	z-index: 2;
	top: 0;
	right: 0;
	left: 240px;
}
.header__search {
	padding-bottom: 40px;
	transition: padding-left .2s;
}
.header__search-field {
	position: relative;
	z-index: 1;
	display: block;
}
.header__search-field-icon {
	position: absolute;

	top: 0;
	left: 18px;
	bottom: 0;

	margin: auto;

	width: 18px;
	height: auto;
}
.header__search-field-input {
	display: block;
	padding: 0 15px 0 44px;

	width: 100%;
	height: 52px;

	border: 1px solid rgba(51, 51, 51, 0.2);
	border-radius: 50px;

	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
}

.header__search-field-input::-webkit-input-placeholder {color: #8C8C8C; font-size: 18px; font-weight: 400; font-family: "Open Sans", sans-serif;}
.header__search-field-input::-moz-placeholder          {color: #8C8C8C; font-size: 18px; font-weight: 400; font-family: "Open Sans", sans-serif;}/* Firefox 19+ */
.header__search-field-input:-moz-placeholder           {color: #8C8C8C; font-size: 18px; font-weight: 400; font-family: "Open Sans", sans-serif;}/* Firefox 18- */
.header__search-field-input:-ms-input-placeholder      {color: #8C8C8C; font-size: 18px; font-weight: 400; font-family: "Open Sans", sans-serif;}



.carts {
	padding-top: 40px;
	display: grid;
	grid-template-columns: 347px 347px 347px;
	grid-gap: 20px;
}

.cart {
	position: relative;
	z-index: 1;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 160px;

	padding: 16px 20px;

	filter: drop-shadow(0 0 5px rgba(0,0,0,.1));
	font-family: Roboto, sans-serif;
}
.cart:before,
.cart:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -2;
	background-color: #fff;
	border-radius: 10px;
	clip-path: polygon(
							-1px -1px,
							calc(100% + 1px) -1px,
							calc(100% + 1px) calc(50% - 7px),
							calc(100% - 5px) 50%,
							calc(100% + 1px) calc(50% + 7px),
							calc(100% + 1px) calc(100% + 1px),
							-1px calc(100% + 1px),
							-1px calc(50% + 7px),
							5px 50%,
							-1px calc(50% - 7px)
						);
}
.cart:before {
	background-color: #DF212D;
	transform: scale(1.005, 1.01);
	transition: opacity .2s;
	opacity: 0;
}
.cart:hover:before {
	opacity: 1;
}
.cart__img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	width: auto;
	max-height: 100%;
	margin: auto;
}
.cart__about {
	font-size: 16px;
	line-height: 1;
}
.cart__about-title {
	font-weight: bold;

	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.cart__about-desc {
	display: block;
	margin-top: 4px;
	color: #808080;
}
.cart__bottom {
}
.cart__bottom-title {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 36px;
	line-height: 0.7777777777777778;

	color: #DF212D;
}
.cart__bottom-subtitle {
	margin-top: 6px;
	display: block;

	line-height: 1;
	color: #808080;
	text-transform: uppercase;
}


@media all and (min-width: 1441px) {
	.sidebar__toggle {
		display: none;
	}
}
@media all and (min-width: 769px) and (max-width: 1440px) {
	.container {
		max-width: 638px;
		padding-left: 26px;
	}

	.sidebar {
		width: 104px;
	}
	.sidebar__logo {
		min-height: 25px;
	}
	.sidebar__logo-icon {
		min-width: 24px;
		width: 24px;
		height: 24px;
	}
	.sidebar__menu-link {
		min-height: 22px;
	}
	.sidebar__menu-icon {
		width: 20px;
	}
	.sidebar__logo-text,
	.sidebar__menu-text {
		display: none;
	}

	/**
	** opened sidebar
	**/

	.sidebar--open {
		width: 246px;
	}

	.sidebar--open .sidebar__logo-text,
	.sidebar--open .sidebar__menu-text {
		display: block;
	}


	/**
	** main
	**/

	.main {
		margin-left: 104px;
	}
	.header {
		padding-top: 30px;
	}
	.header__title {
		text-align: right;
	}
	.header__search {
		padding-bottom: 27px;
	}
	.header__search-wrapper {
		padding-top: 27px;
	}
	.header__search-wrapper--fixed {
		left: 104px;
	}
	.header__search-wrapper--fixed .header__search {
		padding-left: 77px;
	}


	/**
	** carts
	**/

	.carts {
		padding-top: 27px;
		grid-template-columns: 296px 296px;
		grid-gap: 20px;
	}
	.cart {
		height: 144px;

		padding: 15px 18px;
	}
	.cart__about {
		font-size: 14px;
	}
}
@media all and (max-width: 768px) {

	.container {
		max-width: 288px;
		padding-left: 20px;
	}

	.sidebar {
		width: 12px;
	}
	.sidebar__logo {
		display: none;
		margin-left: 17px;
	}
	.sidebar__logo-icon {
		min-width: 24px;
		width: 24px;
		height: 24px;
	}
	.sidebar__logo-text {
		margin-left: 5px;
		font-size: 14px;
	}
	.sidebar__menu {
		display: none;
	}
	.sidebar__menu-link {
		min-height: 22px;
		padding-left: 19px;
	}
	.sidebar__menu-icon {
		display: none;
	}
	.sidebar__menu-text {
		margin-left: 0;
	}

	/**
	** opened sidebar
	**/

	.sidebar--open {
		width: 192px;
	}
	.sidebar--open .sidebar__logo {
		display: flex;
	}
	.sidebar--open .sidebar__menu {
		display: block;
	}

	/**
	** main
	**/

	.main {
		margin-left: 12px;
	}
	.header {
		padding-top: 37px;
	}
	.header__title {
		text-align: right;
		font-size: 24px;
		padding: 0 20px 0 60px;
	}
	.header__search {
		padding-bottom: 27px;
	}
	.header__search-wrapper {
		padding-top: 27px;
	}
	.header__search-wrapper--fixed {
		left: 12px;
	}
	.header__search-wrapper--fixed .header__search {
		padding-left: 68px;
	}
	.header__search-wrapper--fixed .header__search-field-icon {
		display: none;
	}
	.header__search-wrapper--fixed .header__search-field-input {
		padding: 0 16px;
	}

	.header__search-field-input {
		font-size: 14px;
	}
	.header__search-field-input::-webkit-input-placeholder {font-size: 14px;}
	.header__search-field-input::-moz-placeholder          {font-size: 14px;}/* Firefox 19+ */
	.header__search-field-input:-moz-placeholder           {font-size: 14px;}/* Firefox 18- */
	.header__search-field-input:-ms-input-placeholder      {font-size: 14px;}


	/**
	** carts
	**/

	.carts {
		padding: 27px 20px;
		grid-template-columns: 268px;
		grid-gap: 15px;
	}
	.cart {
		height: 130px;

		padding: 16px 20px;
	}
	.cart__about {
		font-size: 12px;
	}
}