* {
	margin: 0;
	padding: 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ol, ul, li {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;

	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

body {
	font: 18px "PTSans";
	color: #193b57;
}

.default-width {
	width: 1140px;
	margin: 0 auto;
}

@media only screen and (max-width : 1170px) {
	.default-width {
		width: 100%;
		padding: 0 15px;
	}
}
.section-header {
	font-size: 36px;
	font-weight: normal;
}

@media only screen and (max-width : 720px) {
	.section-header {
		font-size: 35px;
	}
}
@media only screen and (max-width : 480px) {
	.section-header {
		font-size: 34px;
	}
}

/************* header ************/

.header {
	background-color: #fff;
	position: relative;
}

.header.fixed {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 9999;
}
.header.fixed {
	border-bottom: 1px solid #eee;
}

.header__wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	align-items: center;
	justify-content: space-between;

	padding-top: 18px;
	padding-bottom: 18px;
}

.header__logo-box {}
.header__logo-link {}
.header__logo-img {}

.header__site-desc {
	font-size: 17px;
	line-height: 26px;
}

.header__call-box {
	line-height: 23px;
}
.header__call-number {
	font-weight: bold;
	font-size: 19px;
}
.header__call-desc {
	font-size: 15px;
}



.header__menu-container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.header__menu-element {
	margin-right: 10px;
}
.header__menu-element:last-child {
	margin-right: 0;	
}
.header__menu-link {
	font-size: 17px;
	padding: 9px 11px;
	display: block;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.header__menu-element.active    >     .header__menu-link,
.header__menu-link:hover {
	background-color: #FFDD2D;
}

/* *************************
	menu toggle button */
.menu-toggle {
	display: none;
	
	position: relative;
	z-index: 69999;
	order: 1;
}

.btn-container {
	display: inline-block;
	cursor: pointer;
	transform: scale(.8);
}

.btn-container__bar {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
	transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
	transform: rotate(45deg) translate(-8px, -8px) ;
}
/*	menu toggle button ends
 ---------------------------- */


@media only screen and (max-width : 990px) {
	.header__wrapper {
		flex-wrap: wrap;
	}
	.header__wrapper-element {
		margin: 10px 0;
	}
	.header__menu-box {
		margin-left: auto;
		margin-right: auto;
		text-align: right;
		width: 100%;
	}
	.header__menu-wrapper {
		display: none;
		padding-bottom: 10px;
	}
	.menu-toggle {
		display: inline-block;
	}
	.header__menu-container {
		justify-content: flex-end;
	}


	/* with fixing menu */
	.header.fixed .header__menu-wrapper  {
		border-bottom: 1px solid #eee;
	}
	.header.fixed .header__wrapper-element{
		/*display: none;*/
	}
	
	.header.fixed .header__menu-box {
		width: auto;
		margin: 0;
	}
	.header.fixed .header__menu-wrapper {
		background-color: #fff;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
	}
	.header.fixed .header__logo-img {
		width: 80px;
	}
}

@media only screen and (max-width : 650px) {
	.header__site-desc {
		display: none;
	}
	.btn-container {
		display: inline-block;
		cursor: pointer;
		transform: scale(.7);
	}
	.header__wrapper {
		padding-top: 0;
		padding-bottom: 0;
	}
	.header__call-box {
		line-height: 20px;
	}
	.header__call-number {
		font-weight: bold;
		font-size: 17px;
	}
	.header__call-desc {
		font-size: 13px;
	}


	.header__menu-container {
		flex-direction: column;
		text-align: center;
	}
	.header__menu-element {
		margin: 1px 0;
	}
}




/* *************** intro *************** */

/* default-btn */

.default-btn {
	display: inline-block;
	background-color: #FFDD2D;
	color: #193b57;
	padding: 10px;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}
.default-btn:hover {
	opacity: .8;
}
/* default-btn 
****************/


.intro {
	background-color: #193B57;
	color: #fff;
	padding-top: 45px;
}
.intro__wrapper {

}
.intro__header {
	line-height: 50px;
	text-align: center;
}
.intro__desc {
	text-align: center;
	line-height: 50px;
	font-size: 24px;
}

.intro__main-info-container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: center;
	align-items: center;
	padding-top: 10px;
}

.intro__girl-box {
	margin-left: 150px;
	align-self: flex-end;
}
.intro__girl-img {
	display: block;
}

.intro__info-box {
	margin-left: 80px;
}
.intro__list-container {

}
.intro__list-element {
	line-height: 38px;
}
.intro__list-element_icon {
	margin-right: 15px;
	color: #FFDD2D;
	font-size: 20px;
}

.intro__list-buttons {
	padding-top: 35px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.intro__list-btn {
	margin-right: 40px;
	white-space: nowrap;
}
.intro__list-btn_choice-apartment {
	padding: 21px 23px;
}
.intro__list-btn_underline {
	text-decoration: underline;
}
.intro__list-btn-icon {
	font-size: 12px;
}
.intro__list-btn:hover .intro__list-btn_underline {
	text-decoration: none;
	color: #aaa;
}

@media only screen and (max-width : 1150px) {
	.intro__girl-box,
	.intro__info-box {
		margin: 0;
	}
	.intro__main-info-container {
		justify-content: space-around;
	}
}
@media only screen and (max-width : 910px) {
	.intro {
		padding-bottom: 50px;
	}
	.intro__girl-box {
		align-self: unset;
	}
	.intro__info-box {
		padding-top: 20px;
	}
	.intro__main-info-container {
		flex-direction: column;
		align-items: center;
	}

	.intro__list-btn {
		margin-right: 0;
	}
	.intro__list-buttons {
		justify-content: space-around;
	}
	.intro__desc {
		line-height: 40px;
		padding-top: 10px;
	}

	.intro__list-element {
		line-height: 25px;
		padding-bottom: 13px;
	}
	
}
@media only screen and (max-width : 535px) {
	.intro__list-buttons {
		flex-direction: column;
	}
	.intro__list-btn {
		margin: 15px 0;
	}
}


/* **************** advantages *******************/

.advantages {
	border-bottom: 1px solid #DDD;
}
.advantages__wrapper {

}
.advantages__list-container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: space-between;
	flex-wrap: wrap;

	padding: 90px 0;
}
.advantages__list-element {
	line-height: 30px;
	width: 45%;
	padding-left: 80px;
	min-height: 56px;

	background: url(../img/advantages/secure.png) left top no-repeat;
}
.advantages__list-element:nth-of-type(1n+3) {
	margin-top: 70px;
}
.advantages__list-element_secure {
	background-image: url(../img/advantages/secure.png);
}
.advantages__list-element_time {
	background-image: url(../img/advantages/time.png);
}
.advantages__list-element_pin {
	background-image: url(../img/advantages/pin.png);
}
.advantages__list-element_percent {
	background-image: url(../img/advantages/percent.png);
}


@media only screen and (max-width : 1100px) {
	.advantages__list-element {
		width: 47%;
	}
	.advantages__list-element:nth-of-type(1n+3) {
		margin-top: 65px;
	}
}

@media only screen and (max-width : 780px) {
	.advantages__list-element {
		width: 100%;
	}
	.advantages__list-element:nth-of-type(1n+2) {
		margin-top: 50px;
	}
	.advantages__list-container {
		padding: 80px 0;
	}
}

@media only screen and (max-width : 480px) {
	.advantages__list-element {
		-webkit-background-size: 35px auto;
		background-size: 35px auto;
		padding-left: 55px;
	}
	.advantages__list-element:nth-of-type(1n+2) {
		margin-top: 30px;
	}

	.advantages__list-container {
		padding: 60px 0;
	}
}



/* **************** partners *******************/

.partners {
	padding: 70px 0;
	border-bottom: 1px solid #ddd;
}
.partners__wrapper {
	
}
.partners__header {
	text-align: center;
}
.partners__list-container {
	padding-top: 80px;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	flex-wrap: wrap;
	justify-content: space-around;
	align-items: baseline;
}
.partners__list-element {
	width: 21%;
	min-width: 200px;
	font-size: 0;
	text-align: center;
	margin-bottom: 65px;
}
.partners__list-link {
	display: inline-block;
}
.partners__list-img {
	display: block;
}


@media only screen and (max-width : 780px) {
	.partners {
		padding: 60px 0;
	}
	.partners__list-container {
		padding-top: 65px;
	}
}
@media only screen and (max-width : 480px) {
	.partners {
		padding: 50px 0;
	}
	.partners__list-container {
		padding-top: 50px;
	}
}



/**************** questionary ******************/


.questionary {
	padding: 80px 0;
}
.questionary__wrapper {
	border: 1px solid #DDD;
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
}
.questionary__info-box {
	background-color: #EEF2F7;
	padding: 40px 30px 30px;
}
.questionary__info-header {
	padding-bottom: 10px;
}
.questionary__info-desc {
	font-size: 24px;
	line-height: 48px;
}
.questionary__form-container {}
.questionary__settings-box {
	padding-top: 60px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.questionary__settings-element {
	display: inline-block;
	margin: 0 15px 40px;
	text-align: left;
	width: 360px;
}
.questionary__settings-element_field {
	color: #333;
	font-weight: 100;
	font-family: "PTSans";
	height: 60px;
	border: 1px solid #ddd;
	font-size: 18px;
	outline: 0;
	border-radius: 4px;
}
.questionary__settings-element_field:hover {
	border-color: #ccc;
}
.questionary__settings-element_text {
	padding-left: 20px;
}
.questionary__settings-element_checkbox {
	margin-right: 10px;
}
.questionary__settings-text {
	font-size: 16px;
	cursor: pointer;

	-webkit-user-select: none;	/* Chrome all / Safari all */
	-moz-user-select: none;		/* Firefox all */
	-ms-user-select: none;		/* IE 10+ */
	user-select: none;			/* Likely future */ 
}
.questionary__settings-text_underline {
	text-decoration: underline;
}

.questionary__confirm-button-box {
	padding-top: 50px;
	padding-bottom: 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.questionary__settings-btn {
	outline: 0;
	border: none;
	height: 60px;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
}

/* placeholder styling */
::-webkit-input-placeholder {color:#888; font-weight: 100; font-family: "PTSans";}
::-moz-placeholder          {color:#888; font-weight: 100; font-family: "PTSans";}/* Firefox 19+ */
:-moz-placeholder           {color:#888; font-weight: 100; font-family: "PTSans";}/* Firefox 18- */
:-ms-input-placeholder      {color:#888; font-weight: 100; font-family: "PTSans";}

@media only screen and (max-width : 1170px) {
	.questionary__info-box,
	.questionary__confirm-button-box,
	.questionary__settings-box {
		margin: 0 -15px;
	}
}

@media only screen and (max-width : 835px) {
	.questionary__settings-element {
		width: 600px;
	}
}
@media only screen and (max-width : 650px) {
	.questionary__settings-element {
		width: 100%;
	}
	.questionary__settings-btn {
		font-size: 17px;
	}

	.questionary__info-box {
		padding: 30px 10px 30px;
	}
	.questionary__info-desc {
		font-size: 23px;
		line-height: 40px;
	}
}
@media only screen and (max-width : 480px) {
	.questionary__info-desc {
		line-height: 36px;
	}
}

/**************** director ***********************/



.director {
	background-color: #EEF2F7;
}
.director__wrapper {
	padding-top: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

}
.director__info-box {
	padding-top: 30px;

}
.director__info-header {}
.director__info-desc {
	padding-top: 40px;
	font-size: 16px;
	line-height: 24px;
	width: 650px;
}

.director__image-box {

}
.director__image-img {
	display: block;
}

@media only screen and (max-width : 1180px) {
	.director__info-desc {
		width: initial;
	}
}

@media only screen and (max-width : 910px) {
	.director__wrapper {
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	.director__info-box {
		padding-bottom: 50px;
	}
	.director__image-img {
		max-width: 100%;
		height: auto;
	}
}
@media only screen and (max-width : 550px) {
	.director__info-box {
		padding-bottom: 30px;
	}
}


/*************** FAQ ***************/

.faq {

}
.faq__wrapper {
	padding-top: 60px;
	padding-bottom: 70px;
}
.faq__header {
	text-align: center;
}
.faq__accordion-box {
	padding-top: 60px;
	width: 750px;
	margin: 0 auto;
}
.faq__accordion-element {
	margin-bottom: 10px;
}
.faq__accordion-title {
	cursor: pointer;
	border-radius: 4px;
	padding: 15px 0;
	background-color: #EEF2F7;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	align-items: flex-start;
	justify-content: space-between;
}
.faq__accordion-title-text {
	color: #000;
	margin: 0 15px;
}
.faq__accordion-status {
	-webkit-user-select: none;	/* Chrome all / Safari all */
	-moz-user-select: none;		/* Firefox all */
	-ms-user-select: none;		/* IE 10+ */
	user-select: none;			/* Likely future */ 

	
	color: #BABABA;
	margin: 0 15px;
	text-align: center;
	min-width: 25px;
	font-size: 40px;
	line-height: 20px;
}
.faq__accordion-content {
	font-size: 16px;
	padding: 20px;
	display: none;
}
.faq__accordion-title.current,
.faq__accordion-title:hover {
	background-color: #F2F2F2;
}


@media only screen and (max-width : 770px) {
	.faq__accordion-box {
		width: 100%;
	}
	.faq__accordion-status {
		/*right: 10px;*/
		font-size: 35px;
	}
}
@media only screen and (max-width : 480px) {
	.faq__accordion-content {
		padding: 15px 15px;
		display: none;
	}
}

/************** footer **************/

.footer {
	background-color: #193B57;
	color: #cbcbcb;
	padding: 55px 0;
}
.footer__wrapper {
	font-size: 15px;
	line-height: 30px;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	flex-wrap: wrap;
	justify-content: space-between;
}
.footer__logo-box {
	font-size: 0;
}
.footer__logo-link {

}
.footer__logo-img {

}

.footer__contacts-info {

}
.footer__company-info {

}


@media only screen and (max-width : 720px) {
	.footer__wrapper {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.footer__wrapper-element {
		margin-bottom: 20px;
	}
}