.request {
  margin-bottom: 100000px;
  /* remove after*/
}
.request--header {
  line-height: 30px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 45px 0;
}
.request--field-element {
  outline: 0;
  border: 2px solid #8181FF;
  padding: 7px 17px;
}
.request--field-element::-webkit-input-placeholder {
  color: #7e5f5f;
  font-size: 14.05px;
  line-height: 1.5;
}
.request--field-element::-moz-placeholder {
  color: #7e5f5f;
  font-size: 14.05px;
  line-height: 1.5;
}
.request--field-element:-moz-placeholder {
  color: #7e5f5f;
  font-size: 14.05px;
  line-height: 1.5;
}
.request--field-element:-ms-input-placeholder {
  color: #7e5f5f;
  font-size: 14.05px;
  line-height: 1.5;
}
.request--field-element_textarea {
  outline: 0;
}
.request--btn {
  outline: 0;
}
/*.request {}
.request--wrapper
.request--header
.request--form_container
.request--fields-box
.request--field-element
.request--textarea-element
.request--btn*/
