* {
	padding: 0;
	margin: 0;
	outline: 0;
	font-weight: normal;
	font-size: inherit;
	text-decoration: none;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
	color: inherit;
}

html {
	font-size: 18px;
}

@media all and (max-width: 1200px) {
	html {
		font-size: 17px;
	}
}

@media all and (max-width: 992px) {
	html {
		font-size: 16px;
	}
}

@media all and (max-width: 768px) {
	html {
		font-size: 15px;
	}
}

@media all and (max-width: 480px) {
	html {
		font-size: 13px;
	}
}

body {
	/* https://stackoverflow.com/questions/40138434/how-to-limit-break-all-to-only-long-words */
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;
	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	-webkit-text-decoration-skip: objects;
					text-decoration-skip: objects;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	font-family: "Palatino Linotype", sans-serif;

	background-color: #f2f2f2;
	color: #555;
}

img {
	max-height: 100%;
	max-width: 100%;
	height: auto;
	width: auto;
}

.inviz,
.hidden {
	display: none;
}

ul, ol, li {
	list-style-type: none;
}


.converter {
	padding: 20px;
	text-align: center;
}
.converter__inner {
	max-width: 992px;
	background-color: #fff;
	border: 1px solid #d6d6d6;
	border-radius: 5px;
	margin: auto;
	padding: 20px 15px;
}
.converter__heading {
	font-weight: bold;
	font-size: 1.4rem;
	margin-bottom: 10px;
}
.converter__desc {
	font-size: 0.95rem;
	margin-bottom: 20px;
}
.converter__action {
	margin-bottom: 30px;
}
.converter__action-btn {
	text-transform: uppercase;
	font-size: .95rem;
	border: 1px solid #000;
	background-color: #007AAE;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	padding: 20px 15px;
	width: 100%;
	max-width: 500px;
	cursor: pointer;
}
.converter__list {
	text-align: left;
}


.list {

}
.list__container {

}
.list__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 160px;
	margin-bottom: 30px;
	border: 1px solid #111;
	padding: 5px;
}
.list__item:last-child {
	margin-bottom: 0;
}
.list__media {
	width: 150px;
	border: 1px solid #999;

	background: center center no-repeat;
	background-size: contain;
}
.list__info {
	height: 100%;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 0 10px;
}
.list__info-heading {
	font-size: 1.25rem;
	margin-bottom: 10px;
}
.list__info-code-field {
	padding: 5px;
	font-size: .9rem;
}
.list__info-bottom {
	margin-top: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	font-size: 0.9rem;
}
.list__info-bottom-item {
	margin-left: 15px;
}
.list__info-bottom-item--bold {
	font-weight: bold;
}

@media all and (max-width: 500px){
	.list__item {
		height: auto;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.list__media {
		padding-top: 50%;
		margin: auto;
		margin-bottom: 20px;
	}
	.list__info-bottom {
		padding-top: 20px;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.list__info-bottom-item {
		margin: 10px 5px 0;
	}
}