* {
	padding: 0;
	margin: 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font: 18px/1 "HelveticaNeueCyr-Roman";
	min-width: 320px;
	overflow-x: hidden;
}
a{
	color: inherit;
	text-decoration: none;
}
button {
	cursor: pointer;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
a:hover{
	text-decoration: none;
}
textarea {
	resize: none;
}
li,ul,ol {
	list-style: none;
}

*[class].header-fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

*[class].hidden {
	display: none;
}

*[class].inviz {
	visibility: hidden;
}

*[class].posited-on {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.default-width {
	position: relative;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}
@media only screen and (max-width : 960px) {
	.default-width {
		width: 100%;
	}

}

*[class].bg-white {
	background-color: #fff;
}

*[class].bg-black {
	background-color: #161616;
}

/* ++++++++ .page-number +++++++ */

.page-number {
	position: absolute;
	left: -170px;
	top: 40px;

	font: bold 50px "BebasNeue";

	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);

	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.page-number.color-black {
	color: #2a2a2a;
}
.page-number.color-white {
	color: #fff;
}

@media only screen and (max-width : 1315px) {
	.page-number {
		left: -100px;
	}
}

@media only screen and (max-width : 1180px) {
	.page-number {
		left: -80px;
	}
}

@media only screen and (max-width : 1140px) {
	.page-number {
		display: none;
	}
}
/* ++++++++ .page-number +++++++ 
	^^^^^^^^^^^^^^^^^^^^^^^^^^^ 	*/

.section-header {
	font: bold 50px "BebasNeue";
}



/* ******** header ********** */


/* *************************
	menu toggle button */
.menu-toggle {
	display: none;
	
	position: relative;
	z-index: 69999;
	order: 1;
}

.btn-container {
	display: inline-block;
	cursor: pointer;
	transform: scale(.8);
}

.btn-container__bar {
	width: 35px;
	height: 5px;
	background-color: #aaa;
	margin: 6px 0;
	transition: 0.4s;
}
.btn-container:hover .btn-container__bar {
	background-color: #fff;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
	transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
	transform: rotate(45deg) translate(-8px, -8px) ;
}
/*	menu toggle button ends
 ---------------------------- */


.header {
	background-color: #151515;
	z-index: 9999;
	/*border-bottom: 1px solid #333;*/
}

.header__wrapper {
	position: relative;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.header__logo {

}

.header__logo-link {

}

.header__logo-img {
	margin: 10px 0 ;
	height: 50px;
	width: auto;
	max-width: 100%;
	max-height: 100%;
}

.header__menu {
	
}

.header__menu-container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.header__menu-element {
}

.header__menu-link {
	font: 600 11.92px "HelveticaNeueCyr";
	letter-spacing: 0.2em;
	text-transform: uppercase;
	padding: 30px 10px;
	color: #717171;
	display: block;
}

.header__menu-link:hover,
.header__menu-element.active .header__menu-link,
.header__menu-link.active {
	color: #151515;
	background-color: #FFCC00;
}

.header__contacts {
	text-align: right;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	flex-direction: column;
}

.header__contacts-link {
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.015em;
}
.header__contacts-link:hover {
	text-decoration: underline;
}

.header__contacts-order-call {
	margin-bottom: 5px;
	font-size: 12px;
	text-transform: uppercase;
	/*font-variant: small-caps;*/
}

.header__contacts-email {

}

.header__contacts-phone {

}






/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 890px) {
	.header__logo-img {
		margin: 0;
		height: 40px;
	}
	.header__wrapper {
		padding-top: 15px;
		padding-bottom: 15px;
		
	}
	.header__contacts {
		margin-left: auto;
		margin-right: 15px;
	}
	.header__menu {
		
		display: none;
		position: absolute;
		z-index: 10;
		left: 0;
		right: 0;
		top: 100%;
	}
	.header__menu-container {
		flex-direction: column;
		background-color: #151516;
	}
	.header__menu-element {
		width: 100%;
	}
	.header__menu-link {
		padding: 15px;
		color: #aaa;
		font-size: 11px;
		border-bottom: 1px solid #222;
	}
	.menu-toggle {
		display: block;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.header__logo {
		width: 150px;
	}
	.header__contacts {
		flex-basis: 130px;
	}
	.header__contacts-link {
		letter-spacing: 0;
		font-size: 12px;
	}

}





/* ******** .intro ******** */



.intro {

}

.intro__wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	align-items: center;

}

.intro__page-number {
	
}

.intro__product-box {
	padding-right: 42px;
	background: url(../img/icons/arrow-yellow-right.png) right center no-repeat;
}

.intro__product-image {
	display: block;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

.intro__product-right-arrow {

}

.intro__info-box {
	margin-left: 140px;
}

.intro__info-header {

}

.intro__info-desc {
	color: #454553;
	font-family: "HelveticaNeueCyr-Roman";
	line-height: 28px;
	width: 270px;
	padding: 25px 0;
}

.intro__info-choose-btn {
	display: inline-block;
	padding: 17px 50px 17px 35px;

	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	-ms-border-radius: 24px;
	-o-border-radius: 24px;
	border-radius: 24px;

	color: #2a2a2a;
	font-weight: 600;
	font-size: 16px;
	background: #FFD200 url(../img/icons/arrow-black-right.png) 170px center no-repeat;
	box-shadow: 0px 20px 40px 0px rgba(168, 173, 187, 0.62);

	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
.intro__info-choose-btn:hover {
	/*opacity: .8;*/
	/*background-color: #eFc200;*/
	background-position: 180px center;
	box-shadow: unset;
}





/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}
@media only screen and (max-width : 920px) {
	.intro__product-box {
		padding: 0;
		padding-bottom: 65px;
		background: url(../img/icons/arrow-yellow-bottom.png) center bottom no-repeat;
	}
	.intro__info-desc {
		padding: 10px 0 20px;
		width: auto;
	}
	.intro__info-box {
		margin: 0;
		margin-top: 45px;
		text-align: center;
	}
	.intro__wrapper {
		flex-direction: column;
		padding-bottom: 35px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}
@media only screen and (max-width : 340px) {

}




/* ******** .company ******** */

.company {
	background: url(../img/company-bg.jpg) center top no-repeat / cover;
}

.company__wrapper {
	color: #fff;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	padding-top: 50px;
	padding-bottom: 160px;
	flex-wrap: wrap;
}

.company__page-number {
	top: 50px;
}

.company__info-box {
	width: 50%;
}

.company__company {

}

.company__company-header {
	font-size: 30px;
	width: 280px;
}
.company__company-header_yellow {
	color: #ffd200;
}

.company__company-desc {
	font-size: 16px;
	letter-spacing: 0.015em;
	line-height: 27px;

	padding: 19px 0 45px;
}

.company__company-history-btn {
	box-shadow: 0px 15px 35px 0px rgba(255, 210, 0, 0.1);
	display: inline-block;
	padding: 17px 36px;

	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	-ms-border-radius: 24px;
	-o-border-radius: 24px;
	border-radius: 24px;

	color: #2a2a2a;
	font-weight: 600;
	font-size: 16px;
	background: #FFD200;

	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
.company__company-history-btn:hover {
	opacity: .7;
}

.company__brand {
	padding-top: 170px;
	width: 333px;
}

.company__brand-header {

}

.company__brand-desc {
	font-weight: normal;
	letter-spacing: 0.015em;
	line-height: 28px;

	padding: 10px 0 20px;
}

.company__brand-read-btn {
	color: #ffcc00;
	font: 600 15.86px "HelveticaNeueCyr";
	letter-spacing: 0.05em;
}

.company__brand-read-text {
	text-decoration: underline;
}

	.company__brand-read-btn:hover	.company__brand-read-text {
		text-decoration: none;
	}

.company__view-box {
	width: 50%;
}

.company__view-wrapper {

}

.company__view-text {
	width: 475px;
	line-height: 27.04px;
}

.company__view-img {
	position: absolute;
	bottom: 0;
	right: -93px;
}







/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 1165px) {
	.company__view-img {
		position: static;
		display: block;

		margin: 0 auto;
		height: auto;
		width: auto;
		max-width: 100%;
		max-height: 100%;
	}
	.company__view-wrapper {
		height: 100%;

		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;

		flex-direction: column;
		align-items: flex-start;
	}
	.company__wrapper {
		flex-direction: column;
		align-items: center;
		padding-bottom: 0;
		text-align: center;
	}
	.company__info-box,
	.company__company-header,
	.company__brand,
	.company__view-box,
	.company__view-text {
		width: 100%;
		/*height: auto;*/
	}
	.company__view-text {
		padding-top: 50px;
		padding-bottom: 20px;
	}
	.company__brand {
		padding-top: 30px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.company__view-text {
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.company__view-text {
	}
}


/* ******** .choose ******** */

/* ++++++++ specify circle +++++++++*/

.choose__specify-circle {
	display: inline-block;
	cursor: pointer;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;

	width: 42px;
	height: 42px;
	line-height: 42px;
	text-align: center;

	border: 1px solid #E5E5E5;
	background-color: #fff;
	
	-webkit-transition: border-color .3s;
	-o-transition: border-color .3s;
	transition: border-color .3s;

}
.choose__specify-circle.active {
	color: #FFC600;
	box-shadow: 0px 0px 0px 3px #fff, 0px 0px 0px 4px #494949, 0px 20px 40px 0px rgba(168, 173, 187, 0.62);
}
.choose__views-element.choose__specify-circle.active {
	box-shadow: 0px 0px 0px 3px #fff, 0px 0px 0px 4px #494949, 0px 10px 40px 5px rgba(0,114,210, .2);
}
.choose__specify-circle:not(.active):hover {
	border: 1px solid #aaa;
}

/* ++++++++ specify circle +++++++++
	^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^  */

.choose {
	background: url("../img/choose-top-clouds.png") center -100px no-repeat;
	background-color: #F6F6F6;
}

.choose__wrapper {
	padding-top: 120px;
	color: #454553;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: space-between;
}

.choose__page-number {
	top: 120px;
}

.choose__choose-box {

}

.choose__header {
	color: #2A2A2A;
}

.choose__desc {
	width: 420px;
	line-height: 24.01px;

	padding: 10px 0 36px;
}

.choose__edition-box {

}

.choose__edition-container {
	font-weight: 600;
}

.choose__edition-box {
	padding-bottom: 25px;
}

.choose__edition-title {
	padding-bottom: 20px;
}

.choose__edition-element {
	margin-right: 15px;
}

.choose__size-box {

}

.choose__size-title {

}

.choose__size-container {

}

.choose__size-element {
	text-transform: uppercase;
	font-weight: bold;
	font-family: "Lato";
}

.choose__color-box {

}

.choose__color-title {
	
}

.choose__color-container {

}

.choose__color-element{

}

.choose__choose-btn {
	display: inline-block;
	margin-top: 15px;
	padding-right: 69px;

	background-position: 195px center;
}
.choose__choose-btn:hover {
	background-position: 205px center;
}

.choose__view-box {

}

.choose__view-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.choose__view-big-img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.choose__views-container {
	padding-left: 90px;
}

.choose__views-element {
	display: block;
	margin-bottom: 13px;
	background: url(../img/choose/1.png) center center no-repeat / cover;
	-webkit-background-size: auto 150%;
	background-size: auto 150%;
}










/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}
@media only screen and (max-width : 815px) {
	.choose__edition-container {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;

		justify-content: center;
	}
	.choose__size-box,
	.choose__color-box {
		width: 50%;
	}
	.choose__color-box {
		/*width: 100%;*/
		margin-left: auto;
	}
	.choose__views-container {
		padding: 30px 0 ;
	}
	.choose__views-element {
		display: inline-block;
		margin-bottom: 0;
	}
	.choose__view-wrapper {
		flex-direction: column;
		padding-top: 50px;
	}
	.choose__desc {
		width: auto;
	}
	.choose__header {
	}
	.choose__wrapper {
		padding-top: 40px;
		flex-direction: column;
		text-align: center;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}
@media only screen and (max-width : 550px) {
	.choose__edition-container {
		display: block;
	}
	.choose__size-box,
	.choose__color-box {
		width: auto;
	}
	.choose__view-wrapper {
		padding-top: 20px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}




/* ******** .guarantee ******** */

.guarantee {
	background: #f6f6f6 url("../img/choose-bottom-clouds.png") center top no-repeat;
}

.guarantee__wrapper {
	padding-top: 125px;
	padding-bottom: 100px;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: space-between;
	align-items: flex-start;
}

.guarantee__page-number {
	top: 125px;
}

.guarantee__info-box {
	width: 50%;
}

.guarantee__info-header {

}

.guarantee__info-list-container {
	padding-top: 55px;
}

.guarantee__info-list-element {
	padding-bottom: 40px;
	padding-left: 80px;
	position: relative;
}
.guarantee__info-list-element:before {
	position: absolute;
	top: 0;
	left: 0;

	content: "";
	box-shadow: 0px 0px 23.75px 1.25px rgba(255, 180, 0, 0.35);
	background: #FFDE00 url(../img/icons/tee-shirt.png) center center no-repeat;
	display: block;
	width: 47px;
	height: 47px;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.guarantee__info-list-element_tee-shirt:before {
	background-image: url(../img/icons/tee-shirt.png);
}

.guarantee__info-list-element_doc:before {
	background-image: url(../img/icons/doc.png);
}

.guarantee__info-list-element_reciept:before {
	background-image: url(../img/icons/reciept.png);
}

.guarantee__info-list-header {
	font: 600 25px "HelveticaNeueCyr";
	color: #2a2a2a;
	padding-bottom: 15px;
}

.guarantee__info-list-desc {
	color: #515151;
}

.guarantee__image-box {
	width: 50%;
}

.guarantee__image-wrapper {
	font-size: 0;
	text-align: right;
	padding-right: 60px;
	background: url(../img/icons/arrow-yellow-right.png) right center no-repeat;
}

.guarantee__image-img {
	-webkit-box-shadow: 15px 30px 46px 0px rgba(0,0,0, .12);
	box-shadow: 15px 30px 46px 0px rgba(0,0,0, .12);

	height: auto;
	width: auto;
	max-width: 100%;
	max-height: 100%;
}








/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}
@media only screen and (max-width : 815px) {
	.guarantee__info-list-container {
		padding-top: 40px;
	}
	.guarantee__info-header {
		text-align: center;
	}
	.guarantee__wrapper {
		padding-top: 100px;
		padding-bottom: 100px;

		justify-content: flex-start;
		align-items: center;

		flex-direction: column;
	}
	.guarantee__image-wrapper {
		text-align: center;
		padding: 0;
		padding-top: 20px;
		padding-bottom: 60px;
		background: url(../img/icons/arrow-yellow-bottom.png) center bottom no-repeat;
	}
	.guarantee__info-box,
	.guarantee__image-box {
		width: auto;
	}
	.guarantee__info-list-element {
		padding-bottom: 35px;
	}

}
	

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.guarantee__wrapper {
		padding-top: 80px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.guarantee__wrapper {
		padding-top: 50px;
	}
	.guarantee__info-list-element {
		padding-bottom: 35px;
		padding-left: 55px;
		position: relative;
	}
	.guarantee__info-list-element:before {
		width: 40px;
		height: 40px;
	}
}



/* ******** .instruction ******** */

.instruction {
	position: relative;
	background-color: #F5F5F5;
}
.instruction:before,
.instruction:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../img/snow-rock.png) center bottom -40px no-repeat;
	z-index: 0;
	opacity: 0.04;
}
.instruction:after {
	z-index: 0;
	background: url(../img/instruction-clouds.png) center top no-repeat;
	top: -135px;
	opacity: 1;
}
.instruction__wrapper {
	position: relative;
	z-index: 2;
	padding-top: 40px;
	padding-bottom: 30px;
}
.instruction__page-number {
	top: 40px;
}
.instruction__header {
	text-align: center;
	padding-bottom: 150px;
}
.instruction__steps-box {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	flex-wrap: wrap;
	justify-content: center;
}
.instruction__step-item {
	position: relative;
	width: 300px;
	padding: 30px 22px;
	margin: 0 10px 77px;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.1);
	box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.1);

	border: 2px solid transparent;

	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.instruction__step-item:first-child {
	margin-left: 0;
}
.instruction__step-item:last-child,
.instruction__step-item:nth-of-type(3n) {
	margin-right: 0;
}
.instruction__step-item:hover {
	-webkit-box-shadow: 0px 0px 19px 1px rgba(51, 51, 51, 0.15);
	border-color: #FFCC00;
}


.instruction__step-arrow {
	position: absolute;
	width: 142px;
	height: 36px;
	background: url(../img/icons/instruction-arrow-1.png) center center no-repeat;
	right: -87px;
	top: -45px;
}

.instruction__step-arrow.icon-1 {}
.instruction__step-arrow.icon-2 {}
.instruction__step-arrow.icon-3 {
	width: 287px;
	height: 64px;
	right: initial;
	top: initial;

	bottom: -73px;
	left: -240px;
	background-image: url(../img/icons/instruction-arrow-2.png);
}
.instruction__step-arrow.icon-4 {
	top: initial;
	bottom: -45px;
	background-image: url(../img/icons/instruction-arrow-3.png);
}

.instruction__step-header-box {
	border-bottom: 1px solid #E2E2E2;
	padding-bottom: 23px;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	align-items: center;
	justify-content: space-between;
}
.instruction__step-header {
	color: #333;
	font: bold 18px "HelveticaNeueCyr";
}
.instruction__step-icon-box {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: url("../img/icons/doc-instruction-hover.png") center center no-repeat;

	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.instruction__step-item:hover 
	.instruction__step-icon-box {
		box-shadow: 0px 0px 8.01px 0.99px rgba(255, 180, 0, 0.59);
		background-color: #FFCC00;
	}

.instruction__step-icon-box.doc {
	background-image: url("../img/icons/doc-instruction.png");
}

.instruction__step-item:hover 
	.instruction__step-icon-box.doc {
		background-image: url("../img/icons/doc-instruction-hover.png");
	}

.instruction__step-icon-box.headphones {
	background-image: url("../img/icons/headphones.png");
}

.instruction__step-item:hover 
	.instruction__step-icon-box.headphones {
		background-image: url("../img/icons/headphones-hover.png");
	}

.instruction__step-icon-box.car {
	background-image: url("../img/icons/car.png");
}

.instruction__step-item:hover 
	.instruction__step-icon-box.car {
		background-image: url("../img/icons/car-hover.png");
	}

.instruction__step-icon-box.barcode {
	background-image: url("../img/icons/barcode.png");
}

.instruction__step-item:hover 
	.instruction__step-icon-box.barcode {
		background-image: url("../img/icons/barcode-hover.png");
	}

.instruction__step-icon-box.package {
	background-image: url("../img/icons/package.png");
}

.instruction__step-item:hover 
	.instruction__step-icon-box.package {
		background-image: url("../img/icons/package-hover.png");
	}

.instruction__step-desc {
	padding-top: 25px;
	color: #616161;
	font-size: 15px;
	line-height: 17px;
}







/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
	.instruction__header {
		padding-bottom: 140px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.instruction__header {
		padding-bottom: 130px;
	}
}
@media only screen and (max-width : 965px) {
	.instruction__header {
		padding-bottom: 120px;
	}
	
	.instruction__steps-box {
		
	}
	.instruction__step-item {
		padding: 30px 15px;
		width: 285px;
	}
	.instruction__step-header {

	}

}
@media only screen and (max-width : 935px) {
	.instruction__wrapper {
		padding-top: 20px;
	}
	.instruction__header {
		padding-bottom: 80px;
	}
	.instruction__step-item {
		width: 600px;
		margin: 0;
		margin-bottom: 40px;
	}
	*[class].instruction__step-arrow {
		top: initial;
		left: initial;
		right: initial;
		bottom: initial;
		
		-webkit-transform: rotate(90deg) ;
		-moz-transform: rotate(90deg) ;
		-ms-transform: rotate(90deg) ;
		transform: rotate(90deg) ;

		width: 142px;
		height: 36px;

		background-image: url(../img/icons/instruction-arrow-1.png);
	}
	*[class].instruction__step-arrow.icon-1 {
		right: -102px;
		bottom: -40px;
	}
	*[class].instruction__step-arrow.icon-2 {
		background-image: url(../img/icons/instruction-arrow-3.png);
		left: -102px;
		bottom: -40px;
	}
	*[class].instruction__step-arrow.icon-3 {
		right: -102px;
		bottom: -40px;
	}
	*[class].instruction__step-arrow.icon-4 {
		background-image: url(../img/icons/instruction-arrow-3.png);
		left: -102px;
		bottom: -40px;
	}
	.instruction__steps-box {
		flex-direction: column;
		align-items: center;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.instruction__step-item {
		width: 500px;
	}
}
@media only screen and (max-width : 640px) {
	.instruction__step-item {
		width: 80%;
	}

	.instruction__step-item {
		padding: 20px 15px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.instruction__step-desc {
		padding-top: 20px;
	}
	.instruction__step-item {
		width: 100%;
		padding: 15px 15px;
	}
	
	.instruction__step-arrow {
		display: none;	
	}
}





/* ******** .order ******** */

.order {
	position: relative;
	z-index: 0;
	background: url(../img/order--bg.jpg) center center no-repeat / cover;
}
.order:after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: rgba(0,0,0, .9);
}
.order__wrapper {
	padding-top: 130px;
	padding-bottom: 100px;
}
.order__page-number {
	top: 130px;
}
.order__order-box {
	background-color: #FFF;
	width: 620px;
	margin: 0 auto;
	box-shadow: 0px 0px 32.55px 2.45px rgba(255, 255, 255, 0.15);
	border: 2px solid #E1E2E6;
	padding: 22px 33px 40px;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

.order__header {
	color: #333333;
	font: bold 24px "HelveticaNeueCyr";
	padding-bottom: 20px;
	border-bottom: 2px solid #F5F5F7;
}
.order__location-box {
}
.order__location-container {
	padding-top: 24px;
	padding-bottom: 35px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	align-items: center;
	justify-content: space-between;
}
.order__location-element {
	font: 16px "HelveticaNeueCyr";
	color: #7f818a; /* по макету этот цвет стоит */
	color: #ccc;
}
.order__location-element.active {
	font-weight: 900;
	color: #333;
}
.order__location-icon-element {
}
.order__location-arrow {
	font-weight: 900;
	color: #B8B8B8;
	font-size: 20px;
}
.order__location-personal {
}
.order__location-payment {
}
.order__location-confirmation {

}




/* сами блоки - шаги */


.order__steps-box {
	position: relative;
	overflow: hidden;

	min-height: 211px;


	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.order__step-item {
	/*position: absolute;*/
	left: 0;
	top: 0;
	display: none;

}
.order__step-item.active {
	display: block;
}
.order__steps-input {

}
.order__steps-element {
	width: 265px;
}
.order__steps-select {
	font: 16px "HelveticaNeueCyr-Roman";
	color: #7f818a;
}
.order__steps-input,
.order__steps-select {
	border: 2px solid #E1E2E6;
	outline: 0;
	padding: 16px 5px 14px 20px;
	-webkit-box-sizing: padding-box;
	-moz-box-sizing: padding-box;
	box-sizing: padding-box;

	margin-bottom: 20px;
}
.order__steps-input:focus,
.order__steps-select:focus {
	border-color: #ccc;
}
.order__steps-select option:not([disabled]) {
	color: #000;
}


.order__step-personal {}
.order__step-payment {}
.order__step-confirmation {}



.order__step-personal-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	flex-wrap: wrap;
	justify-content: space-between;
}
.order__step-first-name {

}
.order__step-last-name {

}
.order__step-email {

}
.order__step-age {

}
.order__step-password {

}
.order__step-password-confirm {

}

.order__step-payment-wrapper {
	padding-top: 25px;
	padding-bottom: 35px;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	flex-wrap: wrap;
	justify-content: space-between;
}
.order__step-city {

}
.order__step-address {

}
.order__step-post-index {
	width: 31%;
}
.order__step-info-1 {
	width: 31%;
}
.order__step-info-2 {
	width: 31%;
}

.order__step-confirmation-wrapper {

}
.order__step-terms-header {
	padding-bottom: 12px;
	color: #131317;
	font: 16px "Montserrat";
}
.order__step-terms-desc {
	padding-bottom: 15px;
	color: #7f818a;
	line-height: 25px;
	font: 14px "LibreBaskerville";
}
.order__step-agree-label {
	cursor: pointer;
}
.order__step-agree-styled {
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 2px solid #E1E2E6;
	margin-right: 4px;

	-webkit-transform: translateY(4px);
	-ms-transform: translateY(4px);
	-o-transform: translateY(4px);
	transform: translateY(4px);
}
.order__step-agree-input:checked + .order__step-agree-styled {
	background-color: #333;
}
.order__step-agree-input {
	display: none;
}
.order__step-agree-text {
	color: #7f818a;
	font: 12px "Montserrat";
}

.order__moving-buttons {
	padding-top: 45px;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: space-between;
}
.order__move-button {
	text-transform: uppercase;
	font: bold 12px "HelveticaNeueCyr";
	border: 2px solid #E1E2E6;
	padding: 15px 29px;

	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.order__move-button:hover {
	opacity: .7;
}
.order__move-prev {
	background-color: #fff;
	color: #131317;
}
.order__move-prev:hover {
	background-color: #131317;
	color: #fff;
	border-color: #131317;
}
.order__move-next {
	outline: 0;
	border-color: #131317;
	color: #fff;
	background-color: #131317;
}
.order__move-next:hover {
	background-color: #fff;
	color: #131317;
}



/* стилизация плейсхолдера */
input::-webkit-input-placeholder       {opacity: 1; font: 16px "HelveticaNeueCyr-Roman"; transition: opacity 0.3s ease; color: #7f818a;}
input::-moz-placeholder                {opacity: 1; font: 16px "HelveticaNeueCyr-Roman"; transition: opacity 0.3s ease; color: #7f818a;}
input:-moz-placeholder                 {opacity: 1; font: 16px "HelveticaNeueCyr-Roman"; transition: opacity 0.3s ease; color: #7f818a;}
input:-ms-input-placeholder            {opacity: 1; font: 16px "HelveticaNeueCyr-Roman"; transition: opacity 0.3s ease; color: #7f818a;}
input:focus::-webkit-input-placeholder {opacity: 0;}
input:focus::-moz-placeholder          {opacity: 0;}
input:focus:-moz-placeholder           {opacity: 0;}
input:focus:-ms-input-placeholder      {opacity: 0;}
/* ^^^^^^^^^^^^^^^^^^^^^^^; */



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}
@media only screen and (max-width : 690px) {
	.order__wrapper {
		padding-left: 0;
		padding-right: 0;
	}
	.order__header {
		text-align: center;
	}
	.order__steps-element {
		width: 100%;
	}
	.order__order-box {
		padding: 22px 15px 40px;
		width: 100%;

		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
	}
	.order__steps-box {
		min-height: 425px;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.order__move-button {
		padding: 10px 15px;
	}
}
@media only screen and (max-width : 580px) {
	.order__location-element {
		font-size: 10px;
	}
	.order__location-element.active {
		font-size: 16px;
	}
}
@media only screen and (max-width : 450px) {
	.order__location-arrow {
		font-size: 12px;
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.order__location-container {
		flex-direction: column;
	}
	.order__moving-buttons {
		text-align: center;
		padding-top: 10px;

		flex-direction: column-reverse;
	}
	.order__move-button {
		margin-bottom: 10px;
	}

	.order__order-box {
		padding-bottom: 5px;
	}
}



/* ******** .footer ******** */

.footer {
	background-color: #151515;
	color: #717171;
}
.footer__wrapper {

}
.footer__menu {

}
.footer__menu-container {
	padding: 30px 0 27px;
	width: 100%;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: center;
}
.footer__menu-element {
	margin: 0 20px;
}
.footer__menu-link {
	text-transform: uppercase;
	font: 600 11.92px "HelveticaNeueCyr";
}
.footer__menu-element:hover, 
.footer__menu-element.active {
	color: #fff;
}
.footer__horizontal-line {
	height: 1px;
	background-color: #434343;
	margin: 0 25px;
}
.footer__copy {

}
.footer__copy-text {
	text-align: center;
	padding: 40px 0 34px;
	font-size: 14px;
}
.footer__copy-link {
	font-weight: bold;
	text-decoration: underline;
}




/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.footer__wrapper {
		padding: 0 15px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.footer__menu-element {
		margin: 0 15px;
	}
	.footer__horizontal-line {
		margin: 0;
	}
}
@media only screen and (max-width : 600px) {
	.footer__menu-element {
		margin: 7px;

	}
	.footer__menu-container {
		padding: 25px 0 20px;

		align-items: center;
		flex-wrap: wrap;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.footer__menu-element {
		margin: 0;
		margin-bottom: 10px;
		width: 100%;
	}
	.footer__menu-link {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	.footer__menu-link:hover {
		text-decoration: underline;
	}
	.footer__menu-element:last-child {
		margin: 0;
	}
	.footer__menu-container {
		padding: 25px 0 20px;
		

		flex-direction: column;
	}
}






/* *************** .modal-container **************** */

.modal-bg {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.modal-bg {
	background-color: rgba(0,0,0, .8);
}

.modal-box {
	position: relative;
	z-index: 1;
}

/* ******** .modal-order ********* */




.modal-container {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;

}
.modal-container__wrapper {
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: center;
	align-items: center;

}

.modal-container__modal-item {
	display: none;
	z-index: 1;
}





.modal-order__wrapper {
	width: 320px;
	font-family: "Montserrat";
	background-color: #fff;
	box-shadow: 0px 0px 50px 5px rgba(0,0,0, .1);
	position: relative;
	padding: 20px 15px;
	text-align: center;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.modal-close {
	cursor: pointer;
}
.modal-close-btn {
	position: absolute;
	right: 6px;
	top: 6px;
	font-size: 25px;
	color: #A00;
}
.modal-close-btn:hover {
	color: #800;
}


.modal-order__header {
	font-size: 35px;
	color: #333;
}
.modal-order__desc {
	padding-top: 5px;
	color: #444;
}
.modal-order__form-container {}
.modal-order__form-elements {}


.modal-order__form-text-fields {
	padding-top: 20px;
	padding-bottom: 10px;
}
.modal-order__form-text-element {
	width: 100%;
	font-family: "Montserrat";
	display: block;
	margin: 0 auto;
	padding: 5px 10px;
	margin-bottom: 10px;
	outline: 0;
}
.modal-order__form-text-element:hover {}
.modal-order__form-text-element:focus {}
.modal-order__form-btn {
	border: 2px solid transparent;
	background-color: #000;
	padding: 10px 30px;
	color: #fff;
	font-size: 18px;
}
.modal-order__form-btn:hover {
	border-color: #000;
	background-color: #eee;
	color: #333;
}




/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}
@media only screen and (max-width : 880px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	
}
@media only screen and (max-width : 370px) {
	.modal-order__wrapper {
		width: 280px;
	}
}





/* ******** template ******** */


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}