@media only screen and (max-width: 940px) {
  .default-width {
    width: 100%;
    margin: auto;
  }
}
.section-header {
  text-transform: uppercase;
  font: bold 30px "Roboto";
  line-height: 1;
  text-align: center;
  padding: 50px 0 60px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  align-content: center;
}
.section-header:before,
.section-header:after {
  content: " ";
  background: #900;
  height: 1px;
  width: 100%;
  display: inline-block;
  position: relative;
  margin: 0 20px;
}
