<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Перевести текст в спец. символы</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

	<h1 class="text-center py-3">Текст в спец. символы</h1>

	<div class="container" id="app">
		<div class="row justify-content-center">
			<div class="col-sm-6">

				<label class="form-group d-block">
					<div>Введите сюда текст:</div>
					<textarea name="input_text" rows="6" class="form-control" v-model.lazy="input_text">Милена</textarea>
				</label>
				<label class="form-group d-block">
					<div>Здесь будет результат:</div>
					<textarea name="output_text" rows="6" class="form-control" v-model="output_text">Тут будет результат.</textarea>
				</label>


				<div @click="show_params = !show_params" style="cursor: pointer;">
					<h3 class="py-3 mb-0 text-center" v-if="!show_params">Выбрать символы &dArr;</h3>
					<h3 class="py-3 mb-0 text-center" v-if="show_params">Выбрать символы &uArr;</h3>
				</div>
				
				<ul class="list-group mb-4" v-if="show_params">
					<li class="list-group-item d-flex justify-content-between align-items-center" v-for="(this_symbols, this_symbol) in symbols">
						<div>{{this_symbol}}</div>
						<div><b>&rArr;</b></div>
						<div>
							<select v-model="this_symbols.selected">
								<option v-for="option in this_symbols.options" v-bind:value="option">
									{{ option }}
								</option>
							</select>
						</div>
					</li>
				</ul>

			</div>
		</div>
	</div>



	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="scripts.js"></script>
</body>
</html>