<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>CSS Scriptify</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
</head>
<body>


	<div class="container" id="app" style="display: none" :style="{display:'block'}">
		<div class="row">
			<div class="col py-5">
				<h1 class="text-center">CSS Scriptify</h1>
				<h6 class="text-center text-warning">(<i>just an idea</i>)</h6>
				
				<div class="row pt-5">
					<div class="col-md-5 pb-3">
						<h3 class="text-center mb-3">Input</h3>
						<textarea class="form-control" rows="6" placeholder="Paste your CSS code here" v-model="input"></textarea>
						<p class="pt-2 text-center" v-if="input">
							Before: {{getSize(getInputSize)}}
						</p>
					</div>
					<div class="col-md-2 pb-md-2 pb-3 align-self-center text-center">
						<h2 class="m-0"><i class="fas fa-angle-double-right sm-rotate-95"></i></h2>
					</div>
					<div class="col-md-5 pb-3">
						<h3 class="text-center mb-3">Output</h3>
						<textarea class="form-control" rows="6" readonly placeholder="Here will be the result" v-model="output"></textarea>
						<div v-if="output">
							<div class="pt-2 text-center text-success" v-if="getInputSize > getOutputSize">
								<div>After: {{getSize(getOutputSize)}}</div>
								<div><b><i>-{{getMinusedPercent(getInputSize, getOutputSize)}}%</i></b></div>
								<p class="counts-replace"><i>Counts of replacers: <b>{{replace_index-1}}</b></i></p>
								<p class="text-info">
									Minified version: <b>{{getSize(minified_weight)}}</b>,<br/>
									<b>-{{getMinusedPercent(getInputSize, minified_weight)}}%</b>
								</p>
							</div>
							<div class="pt-2 text-center text-danger" v-else>
								<div>After: {{getSize(getOutputSize)}}</div>
								<div><b><i>+{{Math.abs(getMinusedPercent(getInputSize, getOutputSize))}}%</i></b></div>
								<p class="text-info">
									Minified version: <b>{{getSize(minified_weight)}}</b>,<br/>
									<b>-{{getMinusedPercent(getInputSize, minified_weight)}}%</b>
								</p>
							</div>
						</div>
					</div>
				</div>

				
				<div class="row pt-5">
					<div class="col-md-12 mb-1 text-center">
						<span class="c-pointer" @click="downloadFile()"><i class="fas fa-download"></i> Download file </span>
					</div>
					<div class="col-md-3 mx-auto">
						<div class="input-group">
							<input type="text" class="form-control text-center" v-model="file">
							<div class="input-group-append">
								<span class="input-group-text">{{file_extention}}</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row pt-5">
					<div class="col-md-12 mb-1">
						<h3 class="text-center">Including</h3>
					</div>
					<div class="col-md-5 mx-auto">
						<pre class="border border-dark p-2 selectable"><code>&lt;script src="<b>{{path}}{{file}}{{file_extention}}</b>"&gt;&lt;/script&gt;</code></pre>
					</div>
					<div class="col-md-12 mb-1 pt-5">
						<h4 class="text-center">Fallback version</h4>
					</div>
					<div class="col-md-5 mx-auto">
						<pre class="border border-dark p-2 selectable"><code>&lt;script src="<b>{{path}}{{file}}{{file_extention}}</b>"&gt;&lt;/script&gt;
&lt;noscript&gt;
	&lt;link rel="stylesheet" href="<b>{{path}}{{file}}</b>"&gt;
&lt;/noscript&gt;</code></pre>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="scripts.js"></script>
</body>
</html>