body {
	background-color: #fff;
	color: #000;
}

.hidden,
.inviz {
	display: none;
}

.empty-style {
	
}

.c-pointer {
	cursor: pointer;
}

.counts-replace {
	opacity: .7;
	font-size: .8em;
}

/*body {
	user-select: none;
}*/

.selectable {
	user-select: all;
}

@media screen and (max-width: 767px) {
	.sm-rotate-95 {
		transform: rotate(90deg);
	}
}