*, :after, :before {
	margin: 0;
	padding: 0;

	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
label {
	cursor: pointer;
}

ol {
	padding-left: 25px;
}

body {
	background-color: #333;
}

.gen-pass {
	padding-top: 50px;
}
.gen-pass__wrapper {
	font: 18px "Palatino Linotype", "Open Sans", sans-serif;
	background-color: #fff;
	color: #444;
	max-width: 780px;
	margin: 0 auto;
	padding: 25px 15px 50px;
}
.gen-pass__header {
	font-size: 30px;
	text-align: center;
}
.gen-pass__symbols-box {
	padding-top: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-ms-flex-wrap: wrap;

	    flex-wrap: wrap;

	-webkit-box-pack: center;

	    -ms-flex-pack: center;

	        justify-content: center;
}
.gen-pass__symbols-element {
	width: 40%;
	margin-bottom: 20px;
}
.gen-pass__symbols-input {

}
.gen-pass__symbols-input--checkbox {
	display: none;
}
.gen-pass__symbols-input--checkbox + span {
	position: relative;
	display: inline-block;
	padding-left: 20px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.gen-pass__symbols-input--checkbox + span:after {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px solid #999;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 5px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	background-clip: content-box;
	padding: 1px;
}
.gen-pass__symbols-input--checkbox:checked + span:after {
	background-color: #333;
}


.gen-pass__counter-box {
	position: relative;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 10px;
}
.gen-pass__counter-item {
	margin: 0 5px;

	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.3);

	        box-shadow: 1px 1px 2px rgba(0,0,0,.3);
	cursor: pointer;
	border-radius: 50%;
	display: inline-block;
	width: 25px;
	height: 25px;
	text-align: center;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	font-size: 20px;
}
.gen-pass__counter-item:hover {
	background-color: #eee;
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.5);
	        box-shadow: 1px 1px 3px rgba(0,0,0,.5);
}
.gen-pass__counter-item--minus {

}
.gen-pass__counter-item--plus {

}

.gen-pass__symbols-input--text {
	cursor: not-allowed;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	border-radius: 15px / 15%;
	color: #777;
	border: 1px solid #ddd;
	border: none;
	-webkit-box-shadow: inset 0px 0px 6px rgba(0,0,0,.3);
	        box-shadow: inset 0px 0px 6px rgba(0,0,0,.3);
	text-align: center;
	width: 30px;
	height: 30px;
}
.gen-pass__symbols-btn-box {
	text-align: center;
	width: 100%;
	padding-bottom: 20px;
}
.gen-pass__symbols-btn {
	outline: 0;
	cursor: pointer;
	border-radius: 15px / 15%;
	background-color: #f60;
	border: none;
	color: #fff;
	padding: 10px 25px;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	font-size: 14px;

	-webkit-transition: .3s;

	-o-transition: .3s;

	transition: .3s;
}
.gen-pass__symbols-btn:hover {
	opacity: .8;
}
.gen-pass__list-box {
	display: none;

}
.gen-pass__list-header {
	text-align: center;
	font-size: 24px;
	font-weight: normal;
}
.gen-pass__list-container {
	padding-top: 30px;
}
.gen-pass__list-element {
	font-size: 14px;
	margin-bottom: 4px;
}

@media only screen and (max-width: 480px){
	.gen-pass__symbols-element {
		width: 100%;
	}
	.gen-pass__counter-box {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}