<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>Note on Vue.js</title>
</head>
<body>

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div id="app" style="display: none;" :style="{'display':'block'}">
					<h2 class="text-center py-3">Добавить заметку</h2>
					<div class="alert alert-secondary">
						<input type="text" class="form-control" v-model="create_title">
						<p class="pt-2">
							<textarea class="form-control" v-model="create_text"></textarea>
						</p>
						<p class="text-center">
							<button class="btn btn-secondary" @click="add">Добавить заметку</button>
						</p>
					</div>
					<div class="list" v-for="(note, index) in notes">
						<div v-if="note.is_edit">
							<div class="alert alert-secondary">
								<input type="text" class="form-control" v-model="note.title">
								<p class="pt-2">
									<textarea v-model="note.text" class="form-control"></textarea>
								</p>
								<p>
									<a href="#" @click="note.is_edit=false;save()">Готово</a>
								</p>
							</div>
						</div>
						<div v-else>
							<div class="alert alert-secondary">
								<h4 class="alert-heading">{{note.title}}</h4>
								<p>{{note.text}}</p>
								<p>
									<a href="#" @click="note.is_edit=true">Редактировать</a>
									<span>|</span>
									<a href="#" @click="remove(index)">Удалить</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="sciprts.js"></script>
</body>
</html>